<%- include('../partials/top-bar') %>
      <!-- Site wrapper -->
      <div class="wrapper">
         <%- include('../partials/header') %>
         <!-- =============================================== -->
         <!-- Left side column. contains the sidebar -->
       <%- include('../partials/sidebar') %>
         <!-- =============================================== -->
         <!-- Content Wrapper. Contains page content -->
         <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
               <div class="header-icon">
                  <i class="fa fa-dashboard"></i>
               </div>
               <div class="header-title">
                  <div class="row">
                     <div class="form-group col-lg-4" >
                  <h1>SCHOOL ERP Admin Dashboard</h1>
                  <small>Very detailed & featured admin.</small>
                  </div>
                  <div class="form-group col-lg-3" > </div> 
                  <div class="form-group col-lg-4" >
                                      <label>Select Date Range</label><br>
                                  <div id="reportrange"  class="pull-left" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc;">
                                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                                    <span></span> <b class="caret"></b>
                                 </div>
                                 <label></label>
                                      
                                <button class="btn btn-success" id="filter_records">Filter</button>
                                 </div>
                                 </div>
               </div>
               
            </section>
            <!-- Main content -->
            <section class="content">
                            
                               
               <div class="row">
                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                     <div id="cardbox1">
                        <div class="statistic-box">
                           <i class="fa fa-user-plus fa-3x"></i>
                           <div class="counter-number pull-right">
                              <span class="count-number">11</span> 
                              <span class="slight"><i class="fa fa-play fa-rotate-270"> </i>
                              </span>
                           </div>
                           <h5>Total Number of Teacher</h5>
                        </div>
                     </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                     <div id="cardbox2">
                        <div class="statistic-box">
                           <i class="fa fa-user-secret fa-3x"></i>
                           <div class="counter-number pull-right">
                              <span class="count-number">4</span> 
                              <span class="slight"><i class="fa fa-play fa-rotate-270"> </i>
                              </span>
                           </div>
                           <h5>Total Number of Student</h5>
                        </div>
                     </div>
                  </div>
                 
                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                     <div id="cardbox4">
                        <div class="statistic-box">
                           <i class="fa fa-files-o fa-3x"></i>
                           <div class="counter-number pull-right">
                              <span class="count-number">11</span> 
                              <span class="slight"><i class="fa fa-play fa-rotate-270"> </i>
                              </span>
                           </div>
                           <h5> Number of Teacher Present</h5>
                        </div>
                     </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                     <div id="cardbox4">
                        <div class="statistic-box">
                           <i class="fa fa-files-o fa-3x"></i>
                           <div class="counter-number pull-right">
                              <span class="count-number">11</span> 
                              <span class="slight"><i class="fa fa-play fa-rotate-270"> </i>
                              </span>
                           </div>
                           <h5> Number of Teacher Absent</h5>
                        </div>
                     </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                     <div id="cardbox4">
                        <div class="statistic-box">
                           <i class="fa fa-files-o fa-3x"></i>
                           <div class="counter-number pull-right">
                              <span class="count-number">11</span> 
                              <span class="slight"><i class="fa fa-play fa-rotate-270"> </i>
                              </span>
                           </div>
                           <h5> Number of Student Present</h5>
                        </div>
                     </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                     <div id="cardbox4">
                        <div class="statistic-box">
                           <i class="fa fa-files-o fa-3x"></i>
                           <div class="counter-number pull-right">
                              <span class="count-number">11</span> 
                              <span class="slight"><i class="fa fa-play fa-rotate-270"> </i>
                              </span>
                           </div>
                           <h5> Number of Student Absent</h5>
                        </div>
                     </div>
                  </div>
                   <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                     <div id="cardbox3">
                        <div class="statistic-box">
                           <i class="fa fa-money fa-3x"></i>
                           <div class="counter-number pull-right">
                              <i class="ti ti-money"></i><span class="count-number">965</span> 
                              <span class="slight"><i class="fa fa-play fa-rotate-270"> </i>
                              </span>
                           </div>
                           <h5> Teacher Attendance in (%)</h5>
                        </div>
                     </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                     <div id="cardbox4">
                        <div class="statistic-box">
                           <i class="fa fa-files-o fa-3x"></i>
                           <div class="counter-number pull-right">
                              <span class="count-number">11</span> 
                              <span class="slight"><i class="fa fa-play fa-rotate-270"> </i>
                              </span>
                           </div>
                           <h5>Student Attendance in (%)</h5>
                        </div>
                     </div>
                  </div>
               </div>
                <div class="row">
                   <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                     <div class="panel panel-bd lobidisable">
                        <div class="panel-heading">
                           <div class="panel-title">
                              <h4>Attendance in (%)</h4>
                           </div>
                        </div>
                        <div class="panel-body">
                           <canvas id="barChart" height="150"></canvas>
                        </div>
                     </div>
                  </div>
                  <!-- Barchart -->
                
                  <!-- bar chart -->
                  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                     <div class="panel panel-bd lobidisable">
                        <div class="panel-heading">
                           <div class="panel-title">
                              <h4>Top 5 Student</h4>
                           </div>
                        </div>
                        <div class="panel-body">
                           <canvas id="singelBarChart" height="323"></canvas>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                     <div class="panel panel-bd lobidisable">
                        <div class="panel-heading">
                           <div class="panel-title">
                              <h4>Upcoming Events</h4>
                           </div>
                        </div>
                        <div class="panel-body">
                           <div class="work-touchpoint">
                              <div class="work-touchpoint-date">
                                 <span class="day">28</span>
                                 <span class="month">Apr</span>
                              </div>
                           </div>
                           <div class="detailswork">
                              <span class="label-custom label label-default pull-right">Email</span>
                              <a href="#" title="headings">Marketing policy</a> <br>
                              <p>Green Road - Dhaka,Bangladesh</p>
                           </div>
                           <div class="work-touchpoint">
                              <div class="work-touchpoint-date">
                                 <span class="day">2</span>
                                 <span class="month">Apr</span>
                              </div>
                           </div>
                           <div class="detailswork">
                              <span class="label-custom label label-default pull-right">skype</span>
                              <a href="#" title="headings">Accounting policy</a> <br>
                              <p>Kolkata, India</p>
                           </div>
                           <div class="work-touchpoint">
                              <div class="work-touchpoint-date2">
                                 <span class="day">17</span>
                                 <span class="month">Mrc</span>
                              </div>
                           </div>
                           <div class="detailswork">
                              <span class="label-custom label label-default pull-right">phone</span>
                              <a href="#" title="headings">Marketing policy</a> <br>
                              <p>Madrid  - spain</p>
                           </div>
                           <div class="work-touchpoint">
                              <div class="work-touchpoint-date2">
                                 <span class="day">3</span>
                                 <span class="month">jan</span>
                              </div>
                           </div>
                           <div class="detailswork">
                              <span class="label-custom label label-default pull-right">Mobile</span>
                              <a href="#" title="headings">Finance policy</a> <br>
                              <p>south Australia  - Australia</p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                     <div class="panel panel-bd lobidisable">
                        <div class="panel-heading">
                           <div class="panel-title">
                              <h4>Upcoming Holidays</h4>
                           </div>
                        </div>
                        <div class="panel-body">

                           <div class="work-touchpoint">
                              <div class="work-touchpoint-date">
                                 <span class="day">28</span>
                                 <span class="month">Apr</span>
                              </div>
                           </div>
                           <div class="detailswork">
                              <span class="label-custom label label-default pull-right">Email</span>
                              <a href="#" title="headings">Marketing policy</a> <br>
                              <p>Green Road - Dhaka,Bangladesh</p>
                           </div>
                           <div class="work-touchpoint">
                              <div class="work-touchpoint-date">
                                 <span class="day">2</span>
                                 <span class="month">Apr</span>
                              </div>
                           </div>
                           <div class="detailswork">
                              <span class="label-custom label label-default pull-right">skype</span>
                              <a href="#" title="headings">Accounting policy</a> <br>
                              <p>Kolkata, India</p>
                           </div>
                           <div class="work-touchpoint">
                              <div class="work-touchpoint-date2">
                                 <span class="day">17</span>
                                 <span class="month">Mrc</span>
                              </div>
                           </div>
                           <div class="detailswork">
                              <span class="label-custom label label-default pull-right">phone</span>
                              <a href="#" title="headings">Marketing policy</a> <br>
                              <p>Madrid  - spain</p>
                           </div>
                           <div class="work-touchpoint">
                              <div class="work-touchpoint-date2">
                                 <span class="day">3</span>
                                 <span class="month">jan</span>
                              </div>
                           </div>
                           <div class="detailswork">
                              <span class="label-custom label label-default pull-right">Mobile</span>
                              <a href="#" title="headings">Finance policy</a> <br>
                              <p>south Australia  - Australia</p>
                           </div>
                          
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-sm-6 col-md-6">
                     <div class="panel panel-bd lobidisable">
                        <div class="panel-heading">
                           <div class="panel-title">
                              <h4>Pie chart</h4>
                           </div>
                        </div>
                        <div class="panel-body">
                           <canvas id="pieChart" height="155"></canvas>
                        </div>
                     </div>
                  </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                     <div class="panel panel-bd lobidisable">
                        <div class="panel-heading">
                           <div class="panel-title">
                              <h4>New Student in Current Financial year</h4>
                           </div>
                        </div>
                        <div class="panel-body">
                           <div class="Workslist">
                              <div class="worklistdate">
                                 <table id="sample_data" class="table table-bordered table-striped">
                                    <thead>
                                       <tr>
                                          <th>Notice</th>
                                          <th>Published By</th>
                                          <th>Date Added</th>
                                          <th> Added</th>
                                       </tr>
                                    </thead>
                                  
                                 </table>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
              
             
            </section>
            <!-- /.content -->
         </div>
         <!-- /.content-wrapper -->
        <%- include('../partials/footer') %>
      </div>
      <!-- /.wrapper -->
      <!-- Start Core Plugins
         =====================================================================-->
   <%- include('../partials/footer-script') %>
   <script  nonce="<%= nonce %>" >
   
let startDates;
let endDates;
$(function() {

    var start = moment().subtract(29, 'days');
    var end = moment();

    function cb(start, end) {
        $('#reportrange span').html(start.format('YYYY-MM-DD') + ' - ' + end.format('YYYY-MM-DD'));
        startDates = start.format('YYYY-MM-DD');
         endDates = end.format('YYYY-MM-DD');
    }

    $('#reportrange').daterangepicker({
        startDate: start,
        endDate: end,
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment().startOf('month'), moment().endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);

    cb(start, end);
    
});
var dataTable;
var sale_chart;

  dataTable = $("#sample_data").DataTable({
			"processing": true,
			"serverSide": true,
			  "order": [],
			ajax: {
				url: `/get-dashboard-data-by-school`,
				type: "POST",
			
			},
			columns: [{ data: "created_at" }, { data: "attendance_status" }, {data:"check_in"},{data:"check_out"}],
		});
      
$(document).on('click', '#filter_records', function () {
   if ($.fn.DataTable.isDataTable('#sample_data')) {
                    $('#sample_data').DataTable().destroy();
                }

    // Initialize DataTable
    dataTable = $('#sample_data').DataTable({
        "processing": true,
        "serverSide": true,
       
        "order": [],
        "ajax": {
            url: "/get-dashboard-data-by-school",
            type: "POST",
            data: {
                startDates: startDates,
                endDates: endDates
            },
        },
        columns: [{
                data: "created_at"
            },
            {
                data: "attendance_status"
            },
            {
                data: "check_in"
            },
            {
                data: "check_out"
            },
        ],
        "drawCallback": function (settings) {
            var sales_date = [];
            var sale = [];

            // Populate data arrays for the chart
            for (var count = 0; count < settings.aoData.length; count++) {
                sales_date.push(settings.aoData[count]._aData[2]);
                sale.push(parseFloat(settings.aoData[count]._aData[1]));
            }

            // Update chart data
            var chart_data = {
                labels: sales_date,
                datasets: [{
                    label: 'Sales',
                    backgroundColor: 'rgb(255, 205, 86)',
                    color: '#fff',
                    data: sale
                }]
            };

            // Destroy existing chart instance if it exists
            if (sale_chart) {
                sale_chart.destroy();
            }

            // Create new chart instance
            var group_chart3 = $('#bar_chart');
            sale_chart = new Chart(group_chart3, {
                type: 'bar',
                data: chart_data
            });
        }
    });
});
// $(document).ready(function(){

     
   //   dataTable = $("#sample_data").DataTable({
	// 		processing: true,
	// 		serverSide: true,
			
	// 		ajax: {
	// 			url: `/get-dashboard-data-by-school`,
	// 			type: "POST",
			
	// 		},
	// 		columns: [{ data: "created_at" }, { data: "attendance_status" }, {data:"check_in"},{data:"check_out"}],
	// 	});
// fetch_data();
//     var sale_chart;

//     function fetch_data(start_date = '', end_date = '')
//     {
// if ($.fn.DataTable.isDataTable('#sample_data')) {
//                     $('#sample_data').DataTable().destroy();
//                 }
//          dataTable = $('#sample_data').DataTable({
//             "processing" : true,
//             "serverSide" : true,
//             "order" : [],
//             "ajax" : {
//                 url:"/get-dashboard-data-by-school",
//                 type:"POST",
//                 data:{action:'fetch', start_date:start_date, end_date:end_date}
//             },
//             "drawCallback" : function(settings)
//             {
//                 var sales_date = [];
//                 var sale = [];

//                 for(var count = 0; count < settings.aoData.length; count++)
//                 {
//                     sales_date.push(settings.aoData[count]._aData[2]);
//                     sale.push(parseFloat(settings.aoData[count]._aData[1]));
//                 }

//                 var chart_data = {
//                     labels:sales_date,
//                     datasets:[
//                         {
//                             label : 'Sales',
//                             backgroundColor : 'rgb(255, 205, 86)',
//                             color : '#fff',
//                             data:sale
//                         }
//                     ]   
//                 };

//                 var group_chart3 = $('#bar_chart');

//                 if(sale_chart)
//                 {
//                     sale_chart.destroy();
//                 }

//                 sale_chart = new Chart(group_chart3, {
//                     type:'bar',
//                     data:chart_data
//                 });
//             }
//         });
//     }
 
    

// var start = moment().subtract(29, 'days');
// var end = moment();

// function cb(start, end) {
//     $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
// }

// $('#reportrange').daterangepicker({
//     startDate: start,
//     endDate: end,
//     ranges: {
//        'Today': [moment(), moment()],
//        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
//        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
//        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
//        'This Month': [moment().startOf('month'), moment().endOf('month')],
//        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
//     }
// }, function(start, end){

//     $('#sample_data').DataTable().destroy();

//     fetch_data(start, end);

// });

// cb(start, end);



// });
  //pie chart
             var ctx = document.getElementById("pieChart");
             var myChart = new Chart(ctx, {
                 type: 'pie',
                 data: {
                     datasets: [{
                             data: [45, 25],
                             backgroundColor: [
                                 "green",
                                 "pink",
                               
                             ],
                             hoverBackgroundColor: [
                                 "green",
                                 "pink",
                                
                             ]
         
                         }],
                     labels: [
                        "Number of Student",
                        "Number of Teacher",

                     ]
                 },
                 options: {
                     responsive: true
                 }
             });

   </script>