<%- include('../../partials/top-bar') %>
      <!-- Site wrapper -->
      <div class="wrapper">
         <%- include('../../partials/header') %>
         <!-- =============================================== -->
         <!-- Left side column. contains the sidebar -->
       <%- include('../../partials/sidebar') %>
         <!-- =============================================== -->
         <!-- Content Wrapper. Contains page content -->
         <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
               <div class="header-icon">
                  <i class="fa fa-dashboard"></i>
               </div>
               <div class="header-title">
                  <h1>SCHOOL ERP Admin Dashboard</h1>
                  <small>Very detailed & featured admin.</small>
               </div>
            </section>
            <!-- Main content -->
            <div class="content">
               <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-8 m-b-20">
                     <!-- Nav tabs -->
                      <div class="panel panel-bd lobidrag">
                        <div class="panel-heading">
                           <div class="panel-title">
                             <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab1" data-toggle="tab">my First Tab</a></li>
                        <li><a href="#tab2" data-toggle="tab">My Second Tab</a></li>
                     </ul>
                           </div>
                        </div>
                        <div class="panel-body">
                           <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1">
                           <div class="panel-body">
                              <p><strong>Lorem Ipsum is simply dummy text of the printing and. </strong></p>
                              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                                 standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                                 a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
                                 remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                                 Lorem Ipsum passages, and more recently with desktop publishing software like Aldus .
                              </p>
                           </div>
                        </div>
                        <div class="tab-pane fade" id="tab2">
                           <div class="panel-body">
                              <p><strong>Lorem Ipsum is simply dummy text of the printing and. </strong></p>
                              <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                                 The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content
                                 here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use
                                 Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
                              </p>
                           </div>
                        </div>
                     </div>
                        </div>
                           <div class="table-responsive">
                              <table id="dataTableExample1" class="table table-bordered table-striped table-hover">
                                 <thead>
                                    <tr class="info">
                                       <th>Photo</th>
                                       <th>Customer Name</th>
                                       <th>Mobile</th>
                                       <th>Email</th>
                                       <th>Address</th>
                                       <th>type</th>
                                       <th>Join</th>
                                       <th>Status</th>
                                       <th>Action</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr>
                                       <td><img src="assets/dist/img/w1.png" class="img-circle" alt="User Image" width="50" height="50"> </td>
                                       <td>MD. Alimul Alrazy</td>
                                       <td>+8801674688663</td>
                                       <td>alrazy@thememinister.com</td>
                                       <td>98 Green Rd, Dhaka 1215, Bangladesh</td>
                                       <td>V.I.P</td>
                                       <td>27th April,2017</td>
                                       <td><span class="label-custom label label-default">Active</span></td>
                                       <td>
                                          <button type="button" class="btn btn-add btn-sm" data-toggle="modal" data-target="#customer1"><i class="fa fa-pencil"></i></button>
                                          <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#customer2"><i class="fa fa-trash-o"></i> </button>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td><img src="assets/dist/img/w2.png" class="img-circle" alt="User Image" width="50" height="50"> </td>
                                       <td>MD. Alrazy</td>
                                       <td>+8801674688663</td>
                                       <td>alrazy@thememinister.com</td>
                                       <td>98 Green Rd, Dhaka 1215, Bangladesh</td>
                                       <td>V.I.P</td>
                                       <td>27th April,2017</td>
                                       <td><span class="label-danger label label-default">Inctive</span></td>
                                       <td>
                                          <button type="button" class="btn btn-add btn-sm" data-toggle="modal" data-target="#customer1"><i class="fa fa-pencil"></i></button>
                                          <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#customer2"><i class="fa fa-trash-o"></i> </button>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td><img src="assets/dist/img/w3.png" class="img-circle" alt="User Image" width="50" height="50"> </td>
                                       <td>Mrs. Jorina Begum</td>
                                       <td>+8801674688663</td>
                                       <td>alrazy@thememinister.com</td>
                                       <td>98 Green Rd, Dhaka 1215, Bangladesh</td>
                                       <td>V.I.P</td>
                                       <td>27th April,2017</td>
                                       <td><span class="label-danger label label-default">Inctive</span></td>
                                       <td>
                                          <button type="button" class="btn btn-add btn-sm" data-toggle="modal" data-target="#customer1"><i class="fa fa-pencil"></i></button>
                                          <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#customer2"><i class="fa fa-trash-o"></i> </button>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td><img src="assets/dist/img/w4.png" class="img-circle" alt="User Image" width="50" height="50"> </td>
                                       <td>Mrs. Rabeya Begum</td>
                                       <td>+8801674688663</td>
                                       <td>alrazy@thememinister.com</td>
                                       <td>98 Green Rd, Dhaka 1215, Bangladesh</td>
                                       <td>V.I.P</td>
                                       <td>27th April,2017</td>
                                       <td><span class="label-custom label label-default">Active</span></td>
                                       <td>
                                          <button type="button" class="btn btn-add btn-sm" data-toggle="modal" data-target="#customer1"><i class="fa fa-pencil"></i></button>
                                          <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#customer2"><i class="fa fa-trash-o"></i> </button>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                        <div class="panel-footer">
                           This is standard panel footer
                        </div>
                     </div>
                   
                     <!-- Tab panels -->
                   
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-4 m-b-20">
                     <!-- Nav tabs -->
                     <div class="panel panel-bd lobidrag">
                        <div class="panel-heading">
                           <div class="panel-title">
                             <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab1" data-toggle="tab">Tab 1</a></li>
                        <li><a href="#tab2" data-toggle="tab">Tab 2</a></li>
                     </ul>
                           </div>
                        </div>
                        <div class="panel-body">
                           <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1">
                           <div class="panel-body">
                              <p><strong>Lorem Ipsum is simply dummy text of the printing and. </strong></p>
                              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                                 standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                                 a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
                                 remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
                                 Lorem Ipsum passages, and more recently with desktop publishing software like Aldus .
                              </p>
                           </div>
                        </div>
                        <div class="tab-pane fade" id="tab2">
                           <div class="panel-body">
                              <p><strong>Lorem Ipsum is simply dummy text of the printing and. </strong></p>
                              <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                                 The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content
                                 here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use
                                 Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
                              </p>
                           </div>
                        </div>
                     </div>
                        </div>
                        <div class="panel-footer">
                           This is standard panel footer
                        </div>
                     </div>
                  </div>
               </div>
               </div>
            <!-- /.content -->
         </div>
         <!-- /.content-wrapper -->
        <%- include('../../partials/footer') %>
      </div>
      <!-- /.wrapper -->
      <!-- Start Core Plugins
         =====================================================================-->
   <%- include('../../partials/footer-script') %>