<%- include('../../partials/top-bar') %>


      <!-- Site wrapper -->
      <div class="wrapper">
         <%- include('../../partials/header') %>
		
         <!-- =============================================== -->
         <!-- Left side column. contains the sidebar -->
       <%- include('../../partials/sidebar') %>
	
   
         <!-- =============================================== -->
         <!-- Content Wrapper. Contains page content -->
         <div class="content-wrapper">
			   
            <!-- Content Header (Page header) -->
            <section class="content-header">
               <div class="header-icon">
                  <i class="fa fa-dashboard"></i>
               </div>
               <div class="header-title">
                  <h1>SMART SCHOOL Dashboard</h1>
                  <small>Very detailed & featured admin.</small>
               </div>
            </section>
			
            <!-- Main content -->
            <section class="content">
          
			<div class="panel panel-bd lobidrag">
                        <div class="panel-heading">
                           <div class="btn-group" id="buttonexport">
                              <a href="#">
                                 <h4>All student</h4>
                              </a>
                           </div>
                        </div>
                        <div class="panel-body">
                            <%- include('../../partials/message') %>
                           
					 <div class="row"> 
 <div class="form-group col-lg-3"></div>
								  <div class="form-group col-lg-6">
                                    <label>Class</label>
                                   <select name="student_class_id" id="student_class_id" class="form-control" required>
                                    <option value="">Please Select</option>
                                    <% for(let i = 0; i < data.length; i++){%> 
                                    <option value="<%= data[i].id %>" class="getclass_<%= data[i].id %>"><%= data[i].class_name %></option>
                                       <% } %>
                                   </select> 
                                </div>
                                 <div class="form-group col-lg-3"></div>
       
           
			<br>
        </div>

      
		<br>

					<div class="table-responsive">
						
						<table id="sample_data" class="table table-bordered table-striped">
						
							<thead>
								<tr>
									
									<th> Name</th>
									<th> Father Name</th>
									<th> Email</th>
									
									<th class="noExport">Action</th>
								</tr>
							</thead>
                   
						</table>
					</div>
				</div>
			</div>
		
            </section>
		

            <!-- /.content -->
         </div>
         <!-- /.content-wrapper -->
        <%- include('../../partials/footer') %>
      </div>

                 
      <!-- /.wrapper -->
      <!-- Start Core Plugins
         
         =====================================================================-->
   <%- include('../../partials/footer-script') %>

   <script type="text/javascript" language="javascript">


  
       
function viewAdmission(studentId) {
    try {
     
      $("#viewStudentDiv").html("");
      $("#viewStudentModal").modal("toggle");
      $.ajax({
         url: `/admission/view-student-byid`,
         type: "post",
         data:{studentId:studentId},
         dataType: "json",
         cache: false,
         success: function (data) {
    console.log(data);
            let formDetails = ``;
            formDetails += `<table class="table table-bordered table-striped"> 
               
               <tr><td>Photo</td><td><img src="/uploads/student/${data[0].email}/${data[0].photo}" width="100px"></td></tr>
               <tr><td>Name</td><td>${data[0].name}</td></tr>
               <tr><td>Email</td><td>${data[0].email}</td></tr>
               <tr><td>Gender</td><td>${data[0].gender}</td></tr>
                <tr><td>Father Name</td><td>${data[0].fathers_name}</td></tr>
               <tr><td>Mother Name</td><td>${data[0].mothers_name}</td></tr>
               <tr><td>Parent Phone</td><td>${data[0].parent_phone}</td></tr>
               <tr><td>Class</td><td>${data[0].class_name}</td></tr>
               <tr><td>School</td><td>${data[0].school_name}</td></tr>
               <tr><td>address</td><td>${data[0].address}</td></tr>
               <tr><td>DOB</td><td>${data[0].dob}</td></tr>
              
               </table>`;
            $("#viewStudentDiv").html(formDetails);
          
        },
      });
    } catch (err) {
      console.error(err);
    }
  }


                  function editAdmission(studentId) {
    try {
     
      $("#editStudentDiv").html("");
      $("#editStudentModal").modal("toggle");
      $.ajax({
         url: `/admission/fetch-student-byid`,
         type: "post",
         data:{studentId:studentId},
         dataType: "json",
         cache: false,
         success: function (data) {
        console.log(data);
        let option;
        for(let i=0; i<data.classes.length; i++){
           option += `<option value="${data.classes[i].id}"${data.data[0].class_id==data.classes[i].id?'selected':""}>${data.classes[i].class_name}</option>`
        }
            let formDetails = ``;
            formDetails += `<form action="/admission/update-admission-by-id" method="post" enctype="multipart/form-data">
                             
                                  <input type="hidden"  value="${studentId}" class="form-control" name="student_id">
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <label>Name</label>
                                    <input type="text" class="form-control" value="${data.data[0].name}" name="student_name">
                                </div>
                                  <div class="form-group col-lg-6">
                                    <label>Father's Name</label>
                                    <input type="text" class="form-control" value="${data.data[0].fathers_name}" name="student_father_name">
                                </div>
                                  <div class="form-group col-lg-6">
                                    <label>Mother's Name</label>
                                    <input type="text" class="form-control" value="${data.data[0].mothers_name}" name="student_mother_name">
                                </div>
                                 <div class="form-group col-lg-6">
                                    <label>Parent  Phone Number</label>
                                    <input type="text"  class="form-control" value="${data.data[0].parent_phone}" name="student_parent_phone">
                                </div>
                               
                                  <div class="form-group col-lg-6">
                                    <label>Class</label>
                                   <select name="student_class_id" class="form-control">
                                    <option value="">Please Select</option>
                                   ${option}
                                   </select>
                                </div>
                                  <div class="form-group col-lg-6">
                                    <label>Gender</label>
                                   <select name="student_gender"  class="form-control">
                                    <option value="">Please Select</option>
                                    <option value="Male" ${data.data[0].gender=="Male"?'selected':""}>Male</option>
                                    <option value="Female" ${data.data[0].gender=="Female"?'selected':""}>Female</option>
                                   </select>
                                </div>
                                  <div class="form-group col-lg-6">
                                    <label>Hobbies</label>
                                    <input type="text" value="${data.data[0].hobby}" class="form-control" name="student_hobbies">
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>DOB</label>
                                    <input type="date" value="${data.data[0].dob}" class="form-control" name="student_dob">
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>Email ID</label>
                                    <input type="email" value="${data.data[0].email}"  class="form-control" name="student_email" >
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>Phone Number</label>
                                    <input type="text" value="${data.data[0].phone}" class="form-control" name="student_phone">
                                </div>
                                 <div class="form-group col-lg-6">
                                    <label> Address</label>
                                  
                                    <textarea placeholder="Address" rows="5" class="form-control" name="student_address">${data.data[0].address}</textarea>
                                </div>
                              
                                <div class="form-group col-lg-6">
                                
                                    <label>Upload Photo</label>
                                     <img src="/uploads/student/${data.data[0].email}/${data.data[0].photo}" width="100px">
                                    <input type="file" class="form-control" name="student_photo">
                                </div>
                            </div>
                            <div align="center">
                               <input type="submit" class="btn btn-success"
															value="Update">
															
														
                            </div>
                        </form>`;
            $("#editStudentDiv").html(formDetails);
          
        },
      });
    } catch (err) {
      console.error(err);
    }
  }
  

    
$(document).ready(function(){
	

	toastr.options = {
				'closeButton': true,
				'debug': false,
				'newestOnTop': false,
				'progressBar': true,
				'positionClass': 'toast-top-center',
				'preventDuplicates': false,
				'showDuration': '1000',
				'hideDuration': '1000',
				'timeOut': '5000',
				'extendedTimeOut': '1000',
				'showEasing': 'swing',
				'hideEasing': 'linear',
				'showMethod': 'fadeIn',
				'hideMethod': 'fadeOut',
			}

	  $("select#student_class_id").change(function(){
        var classId = $(this).children("option:selected").val();
	alert(classId)
var dataTable = $('#sample_data').DataTable({
		"processing": true,
		"serverSide": true,
		 dom: 'Bfrtip',
   buttons: [
      {
         extend: 'csv',
        
         exportOptions: {
            columns: 'th:not(:last-child)'
         }
      },
       {
         extend: 'pdf',
        
         exportOptions: {
            columns: 'th:not(:last-child)'
         }
      }
   ],
		"order":[],
		"ajax":{
			url:"/financial/get-student-financial",
			type:"POST",
         data:{classId:classId},
		},
         columns: [
       
        { data: "name" },
        { data: "fathername" },
        { data: "email" },
        { data: "action" },
	],
		
	});

})
  
	
});	
setTimeout(function () {
    $("#error").hide();
  }, 3000);
  setTimeout(function () {
    $("#error_msg").hide();
  }, 3000);
  setTimeout(function () {
    $("#success_msg").hide();
  }, 3000);
</script>