<%- include('../../partials/top-bar') %>


      <!-- Site wrapper -->
      <div class="wrapper">
         <%- include('../../partials/header') %>
		
         <!-- =============================================== -->
         <!-- Left side column. contains the sidebar -->
       <%- include('../../partials/sidebar') %>
	
   
         <!-- =============================================== -->
         <!-- Content Wrapper. Contains page content -->
         <div class="content-wrapper">
			   
            <!-- Content Header (Page header) -->
            <section class="content-header">
               <div class="header-icon">
                  <i class="fa fa-dashboard"></i>
               </div>
               <div class="header-title">
                  <h1>SMART SCHOOL Dashboard</h1>
                  <small>Very detailed & featured admin.</small>
               </div>
            </section>
			
            <!-- Main content -->
            <section class="content">
          
			<div class="panel panel-bd lobidrag">
                        <div class="panel-heading">
                           <div class="btn-group" id="buttonexport">
                              <a href="#">
                                 <h4>Leave Tracker</h4>
                              </a>
                           </div>
                        </div>
                        <div class="panel-body">
                            <%- include('../../partials/message') %>
                            <% if(user[0].role==="school"){ %>
					 <div class="row"> 
 <div class="col-md-6 text-left">
								 <input type="checkbox" class='checkall' id='checkall'> &nbsp;&nbsp; <input type="button" class="btn-sm btn-danger" id="multDel"  value='Check All & Delete' >

               
				
            </div>
           
            <div class="col-md-6 text-right">
 
                                 <a href="#" class="btn btn-add" data-toggle="modal" data-target="#addLeave-lg"><i class="fa fa-plus"></i>Apply For Leave</a>  
                                 
                             
            </div>
			<br>
        </div>

        <% } %>
		<br>

					<div class="table-responsive">
						
						<table id="sample_data" class="table table-bordered table-striped">
						
							<thead>
								<tr>
									<th></th>
									<th> Name</th>
									<th> Reason</th>
									<th>From Date</th>
									<th>TO Date</th>
									<th>Leave Status</th>
									<th class="noExport">Action</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
		
            </section>
		

            <!-- /.content -->
         </div>
         <!-- /.content-wrapper -->
        <%- include('../../partials/footer') %>
      </div>
	 <!-- Modal1 -->
               <div class="modal fade" id="addLeave-lg" tabindex="-1" role="dialog">
                  <%- include('../../partials/loader') %>
                  <div class="modal-dialog modal-lg"  role="document">
                     <div class="modal-content">
                        <div class="modal-header modal-header-primary">
                           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                           <h3><i class="fa fa-plus m-r-5"></i> Apply For Leave</h3>
                        </div>
                        <div class="modal-body">
                           <div class="row">
                              <div class="col-md-12">
                                <form action="/leave/create-student-leave" id="leaveForm1" method="post">
                                  <input type="hidden" id="studentId" value="<%= user[0].track_id %>" class="form-control" name="studentId" >
                            <div class="row">
                            
                                 <div class="form-group col-lg-6">
                                    <label> Reason</label>
                                  
                                    <textarea id="reason" placeholder="Enter Reason" rows="5" class="form-control" required name="reason"></textarea>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>From Date</label>
                                    <input type="date" id="from_date" class="form-control" name="from_date" required>
                                </div>
								  <div class="form-group col-lg-6">
                                    <label>To Date</label>
                                    <input type="date" id="to_date" class="form-control" name="to_date" required>
                                </div>
                             
                            </div>
                            <div align="center">
                               <button type="submit" class="	btn btn-success waves-effect waves-light "
															data-callback="onSubmit" id="saveStudent" data-action="submit">
															Submit
														</button>
                            </div>
                        </form>
                              </div>
                           </div>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                        </div>
                     </div>
                     <!-- /.modal-content -->
                  </div>
                  <!-- /.modal-dialog -->
               </div>
                 <div class="modal fade" id="editLeaveModal" tabindex="-1" role="dialog">
                  <div class="modal-dialog modal-lg"  role="document">
                     <div class="modal-content">
                        <div class="modal-header modal-header-primary">
                           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                           <h3><i class="fa fa-plus m-r-5"></i> Edit Leave Details</h3>
                        </div>
                        <div class="modal-body">
                         
                              <div id="editLeaveDiv">
                               
                             
                           </div>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                        </div>
                     </div>
                     <!-- /.modal-content -->
                  </div>
                  <!-- /.modal-dialog -->
               </div>
                  <div class="modal fade" id="viewLeaveModal" tabindex="-1" role="dialog">
                  <div class="modal-dialog modal-lg"  role="document">
                     <div class="modal-content">
                        <div class="modal-header modal-header-primary">
                           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                           <h3><i class="fa fa-plus m-r-5"></i> View Leave Details</h3>
                        </div>
                        <div class="modal-body">
                         
                              <div id="viewLeaveDiv">
                               
                             
                           </div>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                        </div>
                     </div>
                     <!-- /.modal-content -->
                  </div>
                  <!-- /.modal-dialog -->
               </div>
              
                <div class="modal fade" id="deleteLeaveModal" tabindex="-1" role="dialog">
                  <div class="modal-dialog">
                     <div class="modal-content">
                        <div class="modal-header modal-header-primary">
                           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                           <h3><i class="fa fa-minus m-r-5"></i> Remove Leave</h3>
                        </div>
                        <div class="modal-body">
                         
                              <div id="deleteLeaveDiv">
                               
                             
                           </div>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                        </div>
                     </div>
                     <!-- /.modal-content -->
                  </div>
                  <!-- /.modal-dialog -->
               </div>
                  <div class="modal fade" id="deleteMultipleLeaveModal" tabindex="-1" role="dialog">
                  <div class="modal-dialog">
                     <div class="modal-content">
                        <div class="modal-header modal-header-primary">
                           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                           <h3><i class="fa fa-minus m-r-5"></i> Remove Leave</h3>
                        </div>
                        <div class="modal-body">
                         
                              <div id="deleteMultipleLeaveDiv">
                               
                             
                           </div>  
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                        </div>
                     </div>
                     <!-- /.modal-content -->
                  </div>
                  <!-- /.modal-dialog -->
               </div>
      <!-- /.wrapper -->
      <!-- Start Core Plugins
         
         =====================================================================-->
   <%- include('../../partials/footer-script') %>

   <script nonce="<%= nonce %>" type="text/javascript" language="javascript">


     document.addEventListener("click", function(event) {
    const target = event.target;
     if(target.classList.contains("editBtn")) {
         editLeaveTracker(target.dataset.id);
    } else if (target.classList.contains("deleteBtn")) {
        deleteLeaveTracker(target.dataset.id);
    } else if (target.classList.contains("viewBtn")) {
        viewLeaveTracker(target.dataset.id);
    }
});
       
                  

       
function viewLeaveTracker(leaveId) {
    try {
     
      $("#viewLeaveDiv").html("");
      $("#viewLeaveModal").modal("toggle");
      $.ajax({
         url: `/leave/view-student-leave-byid`,
         type: "post",
         data:{leaveId:leaveId},
         dataType: "json",
         cache: false,
         success: function (data) {
    console.log(data);
            let formDetails = ``;
            formDetails += `<table class="table table-bordered table-striped"> 
               
               <tr><td>Name</td><td>${data[0].name}</td></tr>
             
               <tr><td>Gender</td><td>${data[0].gender}</td></tr>
              
               <tr><td>Class</td><td>${data[0].class_name}</td></tr>
               <tr><td>School</td><td>${data[0].school_name}</td></tr>
               <tr><td>Reason</td><td>${data[0].reason}</td></tr>
               <tr><td>From Date</td><td>${data[0].from_date}</td></tr>
               <tr><td>To Date</td><td>${data[0].to_date}</td></tr>
               <tr><td>Leave Status</td><td>${data[0].leave_status}</td></tr>
              
               </table>`;
            $("#viewLeaveDiv").html(formDetails);
          
        },
      });
    } catch (err) {
      console.error(err);
    }
  }


                  function editLeaveTracker(leaveId) {
    try {
     
      $("#editLeaveDiv").html("");
      $("#editLeaveModal").modal("toggle");
      $.ajax({
         url: `/leave/fetch-student-Leave-byid`,
         type: "post",
         data:{leaveId:leaveId},
         dataType: "json",
         cache: false,
         success: function (data) {
        console.log(data);
       
            let formDetails = ``;
            formDetails += `<form action="/leave/update-student-Leave-by-id" method="post">
                                
                                  <input type="hidden"  value="${leaveId}" class="form-control" name="LeaveId">
                            <div class="row">
                               
                                 <div class="form-group col-lg-6">
                                    <label> Reason</label>
                                  
                                    <textarea placeholder="Enter Reason" rows="5" class="form-control" name="reason">${data[0].reason}</textarea>
                                </div>
                                 <div class="form-group col-lg-6">
                                    <label>From Date</label>
                                    <input type="date" value="${data[0].from_date}" class="form-control" name="from_date">
                                </div>
								   <div class="form-group col-lg-6">
                                    <label>To Date</label>
                                    <input type="date" value="${data[0].to_date}" class="form-control" name="to_date">
                                </div>
                               
                            </div>
                            <div align="center">
                               <input type="submit" class="btn btn-success"
															value="Update">
															
														
                            </div>
                        </form>`;
            $("#editLeaveDiv").html(formDetails);
          
        },
      });
    } catch (err) {
      console.error(err);
    }
  }
  
   function deleteLeaveTracker(LeaveId) {
    try {
     
      $("#deleteLeaveDiv").html("");
      $("#deleteLeaveModal").modal("toggle");
   
          
            let formDetails = ``;
            formDetails += `
                    <input type="hidden" class="form-control" name="LeaveId" id="studentLeaveId" value="${LeaveId}">
                  
                    
                   <div class="col-md-12">
                    Are You Sure. ?
                   </div>

                   <div class="text-center mt-3">
                    <a  class="btn btn-danger waves-effect waves-light" data-bs-dismiss="modal"> No </a>
                     <button
                       type="submit"
                       class="btn btn-primary delBtn waves-effect waves-light"
                       id="register"
                     >
                       Yes
                     </button>
                   </div>
                 </form> `;
            $("#deleteLeaveDiv").html(formDetails);
          
       
    } catch (err) {
      console.error(err);
    }
  }
    
$(document).ready(function(){
	

	toastr.options = {
				'closeButton': true,
				'debug': false,
				'newestOnTop': false,
				'progressBar': true,
				'positionClass': 'toast-top-center',
				'preventDuplicates': false,
				'showDuration': '1000',
				'hideDuration': '1000',
				'timeOut': '5000',
				'extendedTimeOut': '1000',
				'showEasing': 'swing',
				'hideEasing': 'linear',
				'showMethod': 'fadeIn',
				'hideMethod': 'fadeOut',
			}

    
    // Check all 
   $('#checkall').click(function(){
      if($(this).is(':checked')){
         $('.delete_check').prop('checked', true);
      }else{
         $('.delete_check').prop('checked', false);
      }
   });
     // Check all 
   $('#multDel').click(function(){
  if($('#checkall').is(':checked')){
 
       
      $("#deleteMultipleLeaveDiv").html("");
      $("#deleteMultipleLeaveModal").modal("toggle");
   
          
            let formDetails = ``;
            formDetails += `
                  
                    
                   <div class="col-md-12">
                    Are You Sure. ?
                   </div>

                   <div class="text-center mt-3">
                    <a  class="btn btn-danger waves-effect waves-light" data-bs-dismiss="modal"> No </a>
                     <button
                       type="submit"
                       class="btn btn-primary waves-effect waves-light"
                       id="delete_record"
                    
                     >
                       Yes
                     </button>
                   </div>
                 `;
            $("#deleteMultipleLeaveDiv").html(formDetails);
            }else{
   alert("Please Select All")

 }
      
   });

   // Delete record
   $(document).on('click','#delete_record',function(){
      var deleteids_arr = [];
      // Read all checked checkboxes
      $("input:checkbox[class=delete_check]:checked").each(function () {
         deleteids_arr.push($(this).attr('data-id'));
      });
      // Check checkbox checked or not
      if(deleteids_arr.length > 0){
        
      
            $.ajax({
               url: '/leave/delete-student-multiple-leave',
               type: 'post',
               data: {deleteids_arr: deleteids_arr},
               success: function(response){
                   $("#deleteMultipleLeaveModal").modal("hide");
				toastr.error('Record Deleted Successfuly !!')
                  $('#sample_data').DataTable().ajax.reload();
               }
            });
         
      }
   });
	$(document).on("click",".delBtn",function(){
		
 const leaveId = $("#studentLeaveId").val();
 alert(leaveId)
  $.ajax({
        url: '/leave/delete-student-leave',
        type: "POST",
        data: {
          leaveId:leaveId,
        },
        success: function () {
      $("#deleteLeaveModal").modal("hide");
     $('#sample_data').DataTable().ajax.reload();
	toastr.error('Record Deleted Successfuly !!')

        }
    });
	
 
});
	
var dataTable = $('#sample_data').DataTable({
		"processing": true,
		"serverSide": true,
		 dom: 'Bfrtip',
   buttons: [
      {
         extend: 'csv',
        
         exportOptions: {
            columns: 'th:not(:last-child)'
         }
      },
       {
         extend: 'pdf',
        
         exportOptions: {
            columns: 'th:not(:last-child)'
         }
      }
   ],
		"order":[],
		"ajax":{
			url:"/leave/get-student-leave",
			type:"POST",
		},
         columns: [
        { data: "check" },
        { data: "name" },
        { data: "reason" },
        { data: "from_date" },
        { data: "to_date" },
        { data: "leave_status" },
        { data: "action" },
	],
		createdRow:function(row, data, rowIndex)
		{
			$.each($('td', row), function(colIndex){
				if(colIndex == 2)
				{
					$(this).attr('data-name', 'reason');
					$(this).attr('class', 'reason');
					$(this).attr('data-type', 'text');
					$(this).attr('data-pk', data.id);
				}
				if(colIndex == 3)
				{
					$(this).attr('data-name', 'from_date');
					$(this).attr('class', 'from_date');
					$(this).attr('data-type', 'date');
					$(this).attr('data-pk', data.id);
				}
				if(colIndex == 4)
				{
					$(this).attr('data-name', 'to_date');
					$(this).attr('class', 'to_date');
					$(this).attr('data-type', 'date');
					$(this).attr('data-pk', data.id);
				}
				if(colIndex == 5)
				{
					$(this).attr('data-name', 'leave_status');
					$(this).attr('class', 'leave_status');
					$(this).attr('data-type', 'select');
					$(this).attr('data-pk', data.id);
				}
			});
		}
	});

	$('#sample_data').editable({
		container:'body',
		selector:'td.reason',
		url:'/leave/update-student-leave',
		title:'Reason',
		type:'POST',
		validate:function(value){
			if($.trim(value) == '')
			{
				return 'This field is required';
			}
				toastr.success('Record Updated Successfuly !!')

		}
		
	});

	$('#sample_data').editable({
		container:'body',
		selector:'td.from_date',
		url:'/leave/update-student-leave',
		title:'From Date',
		type:'POST',
		validate:function(value){
			
			if($.trim(value) == '')
			{
				return 'This field is required';
			}
			toastr.success('Record Updated Successfuly !!')
		}
	});

	$('#sample_data').editable({
		container:'body',
		selector:'td.to_date',
		url:'/leave/update-student-leave',
		title:'To Date',
		type:'POST',
		validate:function(value){
			
			if($.trim(value) == '')
			{
				return 'This field is required';
			}
			toastr.success('Record Updated Successfuly !!')
		}
	});
	$('#sample_data').editable({
		container:'body',
		selector:'td.leave_status',
		url:'/leave/update-student-leave',
		title:'Leave',
		type:'POST',
		datatype:'json',
		source:[{value: "Approved", text: "Approved"}, {value: "Pending", text: "Pending"}, {value: "Rejected", text: "Rejected"}],
		validate:function(value){
			
			if($.trim(value) == '')
			{
				return 'This field is required';
			}
			toastr.success('Record Updated Successfuly !!')
		}
	});
  
	
});	
setTimeout(function () {
    $("#error").hide();
  }, 3000);
  setTimeout(function () {
    $("#error_msg").hide();
  }, 3000);
  setTimeout(function () {
    $("#success_msg").hide();
  }, 3000);
</script>