<%- include('../../partials/top-bar') %>


      <!-- Site wrapper -->
      <div class="wrapper">
         <%- include('../../partials/header') %>
	
   
         <!-- =============================================== -->
         <!-- Left side column. contains the sidebar -->
       <%- include('../../partials/sidebar') %>
	
   
         <!-- =============================================== -->
         <!-- Content Wrapper. Contains page content -->
         <div class="content-wrapper">
			   
            <!-- Content Header (Page header) -->
            <section class="content-header">
               <div class="header-icon">
                  <i class="fa fa-dashboard"></i>
               </div>
               <div class="header-title">
                  <h1>SMART SCHOOL Dashboard</h1>
                  <small>Very detailed & featured admin.</small>
               </div>
            </section>
			
            <!-- Main content -->
            <section class="content">
          
			<div class="panel panel-bd lobidrag">
                        <div class="panel-heading">
                           <div class="btn-group" id="buttonexport">
                              <a href="#">
                                 <h4>All Faculty</h4>
                              </a>
                           </div>
                        </div>
                        <div class="panel-body">
                             <%- include('../../partials/message') %>
					 <div class="row"> 
 <div class="col-md-6 text-left">
								 <input type="checkbox" class='checkall' id='checkall'> &nbsp;&nbsp; <input type="button" class="btn-sm btn-danger para" id="multDel"  value='Check All & Delete' >

              
				
            </div>
            <div class="col-md-6 text-right">
 
                                 <a href="#" class="btn btn-add" data-toggle="modal" data-target="#addFaculty-lg"><i class="fa fa-plus"></i> Add New</a>  
                                 <a href="#" class="btn btn-add" data-toggle="modal" data-target="#bulkStudentModal"><i class="fa fa-plus"></i> Bulk Create</a> 
                                  
                             
            </div>
			<br>
        </div>
		<br>

					<div class="table-responsive">
						
						<table id="sample_data" class="table table-bordered table-striped">
						
							<thead>
								<tr>
									<th></th>
									<th> Name</th>
									<th> Email</th>
									<th>Gender</th>
									<th>Action</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
		
            </section>
		

            <!-- /.content -->
         </div>
         <!-- /.content-wrapper -->
        <%- include('../../partials/footer') %>
      </div>
	 <div class="modal fade" id="addFaculty-lg" tabindex="-1" role="dialog">
      <%- include('../../partials/loader') %>
                  <div class="modal-dialog modal-lg"  role="document">
                     <div class="modal-content">
                        <div class="modal-header modal-header-primary">
                           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                           <h3><i class="fa fa-plus m-r-5"></i> Add New Faculty</h3>
                        </div>
                        <div class="modal-body">
                           <div class="row">
                              <div class="col-md-12">
                               <form action="http://thememinister.com/crm/index.html" id="facultyForm">
                                  <input type="hidden" id="school_id" value="<%= user[0].id %>" class="form-control" name="school_id">
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <label>Name</label>
                                    <input type="text" id="name" class="form-control" name="name">
                                </div>
                                   <div class="form-group col-lg-6">
                                    <label>Father Name</label>
                                    <input type="text" id="father_name" class="form-control" name="father_name">
                                </div>
                                   <div class="form-group col-lg-6">
                                    <label>Mother Name</label>
                                    <input type="text" id="mother_name" class="form-control" name="mother_name">
                                </div>
                               
                                 <div class="form-group col-lg-6">
                                    <label> Experience</label>
                                    <input type="text" id="experience" class="form-control" name="experience">
                                </div>
                                 <div class="form-group col-lg-6">
                                    <label>Qualification</label>
                                    <input type="text" id="qualification" class="form-control" name="qualification">
                                </div>
                                 <div class="form-group col-lg-6">
                                    <label>Specialize in</label>
                                    <input type="text" id="specialize" class="form-control" name="specialize">
                                </div>
                                 <div class="form-group col-lg-6">
                                    <label>Gender</label>
                                   <select name="gender" id="gender" class="form-control">
                                    <option value="">Please Select</option>
                                    <option value="Male">Male</option>
                                    <option value="FeMale">FeMale</option>
                                   </select>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>DOB</label>
                                    <input type="date" id="dob" class="form-control" name="dob">
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>Email ID</label>
                                    <input type="email" id="email" class="form-control" name="email">
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>Phone Number</label>
                                    <input type="text" id="phone" class="form-control" name="phone">
                                </div>
                                 <div class="form-group col-lg-6">
                                    <label>Address</label>
                                     <textarea id="address" placeholder="Address" rows="5" class="form-control" name="address"></textarea>
                                  
                        
                                </div>
                               
                                <div class="form-group col-lg-6">
                                    <label>Upload Photo</label>
                                    <input type="file" id="faculty_photo" class="form-control" name="faculty_photo">
                                </div>
                            </div>
                            <div align="center">
                               <button class="	btn btn-success waves-effect waves-light "
															data-callback="onSubmit" id="saveFaculty" data-action="submit">
															Register
														</button>
                            </div>
                        </form>
                              </div>
                           </div>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                        </div>
                     </div>
                     <!-- /.modal-content -->
                  </div>
                  <!-- /.modal-dialog -->
               </div>
               
                 <div class="modal fade" id="editFacultyModal" tabindex="-1" role="dialog">
                  <div class="modal-dialog modal-lg"  role="document">
                     <div class="modal-content">
                        <div class="modal-header modal-header-primary">
                           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                           <h3><i class="fa fa-plus m-r-5"></i> Edit Faculty</h3>
                        </div>
                        <div class="modal-body">
                         
                              <div id="editFacultyDiv">
                               
                             
                           </div>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                        </div>
                     </div>
                     <!-- /.modal-content -->
                  </div>
                  <!-- /.modal-dialog -->
               </div>
                <div class="modal fade" id="deleteFacultyModal" tabindex="-1" role="dialog">
                  <div class="modal-dialog">
                     <div class="modal-content">
                        <div class="modal-header modal-header-primary">
                           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                           <h3><i class="fa fa-minus m-r-5"></i> Remove Faculty</h3>
                        </div>
                        <div class="modal-body">
                         
                              <div id="deleteFacultyDiv">
                               
                             
                           </div>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                        </div>
                     </div>
                     <!-- /.modal-content -->
                  </div>
                  <!-- /.modal-dialog -->
               </div>
                  <div class="modal fade" id="viewFacultyModal" tabindex="-1" role="dialog">
                  <div class="modal-dialog modal-lg"  role="document">
                     <div class="modal-content">
                        <div class="modal-header modal-header-primary">
                           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                           <h3><i class="fa fa-plus m-r-5"></i> View Faculty Details</h3>
                        </div>
                        <div class="modal-body">
                         
                              <div id="viewFacultyDiv">
                               
                             
                           </div>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                        </div>
                     </div>
                     <!-- /.modal-content -->
                  </div>
                  <!-- /.modal-dialog -->
               </div>
                <div class="modal fade" id="bulkFacultyModal" tabindex="-1" role="dialog">
                 <div id="loaderBulk" class="lds-dual-ring hidden overlay"></div>

                  <div class="modal-dialog modal-lg"  role="document">
                     
                     <div class="modal-content">
                       
                        <div class="modal-header modal-header-primary">
                           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                           <h3><i class="fa fa-plus m-r-5"></i> Bulk Create</h3>
                        </div>
                       
                        <div class="modal-body">
                              <div class="row">
                              <div class="col-md-12">
                                <form action="" id="bulkUploadForm">
                                  <input type="hidden" id="faculty_school_id" value="<%= user[0].id %>" class="form-control" name="faculty_school_id" >
                            <div class="row">

                                <div class="form-group col-lg-6">
                                    <label>Upload File</label>
                                    <input type="file" id="file" class="form-control" name="file" required>
                                </div>
                            </div>
                            <div align="center">
                               <button class="	btn btn-success waves-effect waves-light "
															data-callback="onSubmit" id="111" data-action="submit">
															Upload
														</button>
                            </div>
                        </form>
                              </div>
                           </div>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                        </div>
                     </div>
                     <!-- /.modal-content -->
                  </div>
                  <!-- /.modal-dialog -->
               </div>
                 <div class="modal fade" id="deleteMultipleFacultyModal" tabindex="-1" role="dialog">
                  <div class="modal-dialog">
                     <div class="modal-content">
                        <div class="modal-header modal-header-primary">
                           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                           <h3><i class="fa fa-minus m-r-5"></i> Remove Faculty</h3>
                        </div>
                        <div class="modal-body">
                         
                              <div id="deleteMultipleFacultyDiv">
                               
                             
                           </div>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                        </div>
                     </div>
                     <!-- /.modal-content -->
                  </div>
                  <!-- /.modal-dialog -->
               </div>
      <!-- /.wrapper -->
      <!-- Start Core Plugins
         =====================================================================-->
   <%- include('../../partials/footer-script') %>

   <script nonce="<%= nonce %>" type="text/javascript" language="javascript">
                  $("#facultyForm").on("submit", async e => {
							e.preventDefault();
							try {
								
									const formData = new FormData($(`#${e.target.id}`)[0]);
									e.preventDefault();
									$.ajax({
										url: `/faculty/create-faculty`,
										type: "post",
										processData: false,
										contentType: false,
										
										data: formData,
										dataType: "json",
                     beforeSend: function() {
                     $('#loader').removeClass('hidden')
                     },
										success: function (data) {
                     
                  if (data) {
                       const url = '/success.mp3'
                    const audio = new Audio(url);
                    audio.play();
                     Swal.fire({
                    position: "top-center",
                    icon: "success",
                    title: "Application Saved Successfully !!",
                    showConfirmButton: false,
                    timer: 2000,
                  });
                  $("#facultyForm")[0].reset();
                  $("#addFaculty-lg").modal("hide");
                   $('#sample_data').DataTable().ajax.reload();

                
                } else {
                    Swal.fire({
                    icon: "error",
                    title: "Oops...",
                    text: "Data Allready Exist !",
                  });
                
                }
										
										},
                      complete: function(){
                      $('#loader').addClass('hidden')
                      },
									});

								

							} catch (e) {
								console.error(e)
							}
						});
    function editFaculty(facultyId) {
    try {
      $("#editFacultyDiv").html("");
      $("#editFacultyModal").modal("toggle");
      $.ajax({
         url: `/faculty/fetch-faculty-byid`,
         type: "post",
         data:{facultyId:facultyId},
         dataType: "json",
         cache: false,
         success: function (data) {
            let formDetails = ``;
            formDetails += `  <form action="/faculty/update-faculty-by-id" method="post" enctype="multipart/form-data">
                                  <input type="hidden" id="faculty_id" value="${facultyId}" class="form-control" name="faculty_id">
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <label>Name</label>
                                    <input type="text" id="name"  value="${data.data[0].name}" class="form-control" name="name">
                                </div>
                                   <div class="form-group col-lg-6">
                                    <label>Father Name</label>
                                    <input type="text" id="father_name"  value="${data.data[0].fathers_name}" class="form-control" name="father_name">
                                </div>
                                   <div class="form-group col-lg-6">
                                    <label>Mother Name</label>
                                    <input type="text" id="mother_name"  value="${data.data[0].mothers_name}" class="form-control" name="mother_name">
                                </div>
                               
                             
                                 <div class="form-group col-lg-6">
                                    <label> Experience</label>
                                    <input type="text" id="experience"  value="${data.data[0].experience}" class="form-control" name="experience">
                                </div>
                                 <div class="form-group col-lg-6">
                                    <label>Qualification</label>
                                    <input type="text" id="qualification"  value="${data.data[0].qualification}" class="form-control" name="qualification">
                                </div>
                                 <div class="form-group col-lg-6">
                                    <label>Specialize in</label>
                                    <input type="text" id="specialize"  value="${data.data[0].specialize}" class="form-control" name="specialize">
                                </div>
                                 <div class="form-group col-lg-6">
                                    <label>Gender</label>
                                   <select name="gender" id="gender" class="form-control">
                                    <option value="">Please Select</option>
                                    <option value="Male"${data.data[0].gender=="Male"?'selected':""}>Male</option>
                                    <option value="Female"${data.data[0].gender=="Female"?'selected':""}>Female</option>
                                   </select>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>DOB</label>
                                    <input type="date" id="dob"  value="${data.data[0].dob}" class="form-control" name="dob">
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>Email ID</label>
                                    <input type="email" id="email"  value="${data.data[0].email}" class="form-control" name="email">
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>Phone Number</label>
                                    <input type="text" id="phone"  value="${data.data[0].phone}" class="form-control" name="phone">
                                </div>
                                 <div class="form-group col-lg-6">
                                    <label>Address</label>
                                     <textarea id="address" placeholder="Address" rows="5" class="form-control" name="address"> ${data.data[0].address}</textarea>
                                  
                        
                                </div>
                               
                                <div class="form-group col-lg-6">
                                    <label>Upload Photo</label>
                                     <img src="/uploads/faculty/${data.data[0].email}/${data.data[0].photo}" width="100px">
                                    <input type="file" id="faculty_photo" class="form-control" name="faculty_photo">
                                </div>
                            </div>
                            <div align="center">
                               <button class="	btn btn-success waves-effect waves-light "
															data-callback="onSubmit" id="saveFaculty" data-action="submit">
															Update
														</button>
                            </div>
                        </form>`;
            $("#editFacultyDiv").html(formDetails);
          
        },
      });
    } catch (err) {
      console.error(err);
    }
  }
   function deleteFaculty(facultyId) {
    try {
      $("#deleteFacultyDiv").html("");
      $("#deleteFacultyModal").modal("toggle");
   
          
            let formDetails = ``;
            formDetails += `
                    <input type="hidden" class="form-control" name="facultyId" id="facultyId" value="${facultyId}">
                    
                   <div class="col-md-12">
                    Are You Sure. ?
                   </div>

                   <div class="text-center mt-3">
                    <a  class="btn btn-danger waves-effect waves-light" data-bs-dismiss="modal"> No </a>
                     <button
                       type="submit"
                       class="btn btn-primary delBtn waves-effect waves-light"
                       id="register"
                     >
                       Yes
                     </button>
                   </div>
                `;
            $("#deleteFacultyDiv").html(formDetails);
          
       
    } catch (err) {
      console.error(err);
    }
  }
   $("#bulkUploadForm").on("submit", async e => {
        
							e.preventDefault();
							try {
								
									const formData = new FormData($(`#${e.target.id}`)[0]);
									e.preventDefault();
									$.ajax({
										url: `/faculty/bulk-create-faculty`,
										type: "post",
										processData: false,
										contentType: false,
										
										data: formData,
										dataType: "json",
                     beforeSend: function() {
                     $('#loaderBulk').removeClass('hidden')
                     },
										success: function (data) {
                      
                     
                  if (data) {
                      
                     Swal.fire({
                    position: "top-center",
                    icon: "success",
                    title: "Bulk Action Completed !!",
                    showConfirmButton: false,
                    timer: 2000,
                  });
                $("#bulkUploadForm")[0].reset();
                  $("#bulkFacultyModal").modal("hide");
                  $('#sample_data').DataTable().ajax.reload();
                
                } else {
                    Swal.fire({
                    icon: "error",
                    title: "Oops...",
                    text: "Data Allready Exist !",
                  });
                 $("#bulkUploadForm")[0].reset();
                }
										
										},
                      complete: function(){
                      $('#loaderBulk').addClass('hidden')
                      },
									});

								

							} catch (e) {
								console.error(e)
							}
						});
                  

       
function viewFaculty(facultyId) {
    try {
     
      $("#viewFacultyDiv").html("");
      $("#viewFacultyModal").modal("toggle");
      $.ajax({
         url: `/faculty/view-faculty-byid`,
         type: "post",
         data:{facultyId:facultyId},
         dataType: "json",
         cache: false,
         success: function (data) {
    console.log(data);
            let formDetails = ``;
            formDetails += `<table class="table table-bordered table-striped"> 
               
               <tr><td>Photo</td><td><img src="/uploads/faculty/${data[0].email}/${data[0].photo}" width="100px"></td></tr>
               <tr><td>Name</td><td>${data[0].name}</td></tr>
               <tr><td>Email</td><td>${data[0].email}</td></tr>
               <tr><td>Gender</td><td>${data[0].gender}</td></tr>
                <tr><td>Father Name</td><td>${data[0].fathers_name}</td></tr>
               <tr><td>Mother Name</td><td>${data[0].mothers_name}</td></tr>
               <tr><td>Experience</td><td>${data[0].experience}</td></tr>
               <tr><td>qualification</td><td>${data[0].qualification}</td></tr>
               <tr><td>Specialize In</td><td>${data[0].specialize}</td></tr>
               <tr><td>School</td><td>${data[0].school_name}</td></tr>
               <tr><td>address</td><td>${data[0].address}</td></tr>
               <tr><td>DOB</td><td>${data[0].dob}</td></tr>
              
               </table>`;
            $("#viewFacultyDiv").html(formDetails);
          
        },
      });
    } catch (err) {
      console.error(err);
    }
  }


  $(document).ready(function(){
	

	toastr.options = {
				'closeButton': true,
				'debug': false,
				'newestOnTop': false,
				'progressBar': true,
				'positionClass': 'toast-top-center',
				'preventDuplicates': false,
				'showDuration': '1000',
				'hideDuration': '1000',
				'timeOut': '5000',
				'extendedTimeOut': '1000',
				'showEasing': 'swing',
				'hideEasing': 'linear',
				'showMethod': 'fadeIn',
				'hideMethod': 'fadeOut',
			}

    
    // Check all 
   $('#checkall').click(function(){
      if($(this).is(':checked')){
         $('.delete_check').prop('checked', true);
      }else{
         $('.delete_check').prop('checked', false);
      }
   });

   // Check all 
   $('#multDel').click(function(){
  if($('#checkall').is(':checked')){
 
       
      $("#deleteMultipleFacultyDiv").html("");
      $("#deleteMultipleFacultyModal").modal("toggle");
   
          
            let formDetails = ``;
            formDetails += `
                  
                    
                   <div class="col-md-12">
                    Are You Sure. ?
                   </div>

                   <div class="text-center mt-3">
                    <a  class="btn btn-danger waves-effect waves-light" data-bs-dismiss="modal"> No </a>
                     <button
                       type="submit"
                       class="btn btn-primary waves-effect waves-light"
                       id="delete_record"
                    
                     >
                       Yes
                     </button>
                   </div>
                 `;
            $("#deleteMultipleFacultyDiv").html(formDetails);
            }else{
   alert("Please Select All")

 }
      
   });
    // Delete record
   $(document).on('click','#delete_record',function(){
      var deleteids_arr = [];
      // Read all checked checkboxes
      $("input:checkbox[class=delete_check]:checked").each(function () {
         deleteids_arr.push($(this).attr('data-id'));
      });
      // Check checkbox checked or not
      if(deleteids_arr.length > 0){
        
      
            $.ajax({
               url: '/faculty/delete-multiple-faculty',
               type: 'post',
               data: {deleteids_arr: deleteids_arr},
               success: function(response){
                   $("#deleteMultipleFacultyModal").modal("hide");
				toastr.error('Record Deleted Successfuly !!')
                  $('#sample_data').DataTable().ajax.reload();
               }
            });
         
      }
   });
	$(document).on("click",".delBtn",function(){
		
 const facultyId = $("#facultyId").val();
 alert(facultyId)
  $.ajax({
        url: '/faculty/delete-faculty',
        type: "POST",
        data: {
          facultyId:facultyId,
        },
        success: function (data) {
      $("#deleteFacultyModal").modal("hide");
     $('#sample_data').DataTable().ajax.reload();
	toastr.error('Record Deleted Successfuly !!')

        }
    });
	
 
});
	


	var dataTable = $('#sample_data').DataTable({
		"processing": true,
		"serverSide": true,
		 dom: 'Bfrtip',
   buttons: [
      {
         extend: 'csv',
        
         exportOptions: {
            columns: 'th:not(:last-child)'
         }
      },
       {
         extend: 'pdf',
        
         exportOptions: {
            columns: 'th:not(:last-child)'
         }
      }
   ],
		"order":[],
		"ajax":{
			url:"/faculty/get-faculty",
			type:"POST",
		},
         columns: [
        { data: "check" },
        { data: "name" },
        { data: "email" },
        { data: "gender" },
        { data: "action" },
	],
		createdRow:function(row, data, rowIndex)
		{
			$.each($('td', row), function(colIndex){
				if(colIndex == 1)
				{
					$(this).attr('data-name', 'name');
					$(this).attr('class', 'name');
					$(this).attr('data-type', 'text');
					$(this).attr('data-pk', data.id);
				}
				if(colIndex == 2)
				{
					$(this).attr('data-name', 'email');
					$(this).attr('class', 'email');
					$(this).attr('data-type', 'text');
					$(this).attr('data-pk', data.id);
				}
				if(colIndex == 3)
				{
					$(this).attr('data-name', 'gender');
					$(this).attr('class', 'gender');
					$(this).attr('data-type', 'select');
					$(this).attr('data-pk', data.id);
				}
			});
		}
	});

	$('#sample_data').editable({
		container:'body',
		selector:'td.name',
		url:'/faculty/update-faculty',
		title:'Name',
		type:'POST',
		validate:function(value){
			if($.trim(value) == '')
			{
				return 'This field is required';
			}
				toastr.success('Record Updated Successfuly !!')

		}
		
	});

	$('#sample_data').editable({
		container:'body',
		selector:'td.email',
		url:'/faculty/update-faculty',
		title:'Email',
		type:'POST',
		validate:function(value){
			
			if($.trim(value) == '')
			{
				return 'This field is required';
			}
			toastr.success('Record Updated Successfuly !!')
		}
	});

	$('#sample_data').editable({
		container:'body',
		selector:'td.gender',
		url:'/faculty/update-faculty',
		title:'Gender',
		type:'POST',
		datatype:'json',
		source:[{value: "Male", text: "Male"}, {value: "Female", text: "Female"}],
		validate:function(value){
			
			if($.trim(value) == '')
			{
				return 'This field is required';
			}
			toastr.success('Record Updated Successfuly !!')
		}
	});
	
});	
setTimeout(function () {
    $("#error").hide();
  }, 3000);
  setTimeout(function () {
    $("#error_msg").hide();
  }, 3000);
  setTimeout(function () {
    $("#success_msg").hide();
  }, 3000);
</script>