<%- include('../../partials/top-bar') %>

      <!-- Site wrapper -->
      <div class="wrapper">
         <%- include('../../partials/header') %>
		  <style>
      .loading-image {
        position: absolute;
		
        top: 48%;
        left: 32%;
        transform: translateY(-50%) translateX(50%);
      }
      .loader {
        display: none;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        position: fixed;
        z-index: 99999;
      }
    </style>
         <!-- =============================================== -->
         <!-- Left side column. contains the sidebar -->
       <%- include('../../partials/sidebar') %>
	
   
         <!-- =============================================== -->
         <!-- Content Wrapper. Contains page content -->
         <div class="content-wrapper">
			   <div class="loader" id="loader">
      <img
        class="loading-image" style="width: 100px;"
        src="/assets/images/loader.webp"
        alt="loading.."
      />
	   </div>
            <!-- Content Header (Page header) -->
            <section class="content-header">
               <div class="header-icon">
                  <i class="fa fa-dashboard"></i>
               </div>
               <div class="header-title">
                  <h1>SMART SCHOOL Dashboard</h1>
                  <small>Very detailed & featured admin.</small>
               </div>
            </section>
			
            <!-- Main content -->
            <section class="content">
          
		    <div class="row">
             <div class="panel panel-bd lobidrag">
                        <div class="panel-heading">
                           <div class="btn-group" id="buttonexport">
                              <a href="#">
                                 <h4>Online Test</h4>
                              </a>
                           </div>
                        </div>
                        <div class="panel-body">
                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                     <div id="cardbox1" style="background-color: #5d720f;">
                        <div class="statistic-box">
                           <i class="fa fa-user-plus fa-3x"></i>
                           <div class="counter-number pull-right">
                              <span class="count-number">11</span> 
                              <span class="slight"><i class="fa fa-play fa-rotate-270"> </i>
                              </span>
                           </div>
                           <h3>Full Length Test</h3>
                        </div>
                     </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                     <div id="cardbox2" style="background-color: #36784c;">
                        <div class="statistic-box">
                           <i class="fa fa-user-secret fa-3x"></i>
                           <div class="counter-number pull-right">
                              <span class="count-number">4</span> 
                              <span class="slight"><i class="fa fa-play fa-rotate-270"> </i>
                              </span>
                           </div>
                           <h3> Section Wise Test</h3>
                        </div>
                     </div>
                  </div>
                 
                </div>
                </div>
				   
               </div>
			   
		
            </section>
		

            <!-- /.content -->
         </div>
         <!-- /.content-wrapper -->
        <%- include('../../partials/footer') %>
      </div>
	
      <!-- /.wrapper -->
      <!-- Start Core Plugins
         =====================================================================-->
   <%- include('../../partials/footer-script') %>
