<%- include('../../partials/top-bar') %>


      <!-- Site wrapper -->
      <div class="wrapper">
         <%- include('../../partials/header') %>
		
         <!-- =============================================== -->
         <!-- Left side column. contains the sidebar -->
       <%- include('../../partials/sidebar') %>
	
   
         <!-- =============================================== -->
         <!-- Content Wrapper. Contains page content -->
         <div class="content-wrapper">
			   
            <!-- Content Header (Page header) -->
            <section class="content-header">
               <div class="header-icon">
                  <i class="fa fa-dashboard"></i>
               </div>
               <div class="header-title">
                  <h1>SMART SCHOOL Dashboard</h1>
                  <small>Very detailed & featured admin.</small>
               </div>
            </section>
			
            <!-- Main content -->
            <section class="content">
          
			<div class="panel panel-bd lobidrag">
                        <div class="panel-heading">
                           <div class="btn-group" id="buttonexport">
                              <a href="#">
                                 <h4>All Practice Test</h4>
                              </a>
                           </div>
                        </div>
                        <div class="panel-body">
                            <%- include('../../partials/message') %>
                           
		<br>

                     <!-- Nav tabs -->
                     <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab1" data-toggle="tab">New Test</a></li>
                        <li><a href="#tab2" data-toggle="tab">Completed Test</a></li>
                     </ul>
                     <!-- Tab panels -->
                   <div class="tab-content">
                         
                        <div class="tab-pane fade in active" id="tab1">
                           
						<table id="newTest" class="table table-bordered table-striped">
						
							<thead>
								<tr>
									
									<th>Exam Name</th>
									<th>Start Date</th>
									<th>End Date</th>
									<th>Exam Mode</th>
									<th>Total Marks</th>
									<th class="noExport">Action</th>
								</tr>
							</thead>
						</table>
                  
                        </div>
                        
                        
                        <div class="tab-pane fade" id="tab2">
                         
						
						<table id="completedTest" style="width:100%" class="table table-bordered table-striped">
						
							<thead>
								<tr>
									
									<th>Exam Name</th>
									<th>Start Date</th>
									<th>End Date</th>
									<th>Exam Mode</th>
									<th>Total Marks</th>
									<th class="noExport">Action</th>
								</tr>
							</thead>
						</table>
                
                        </div>
                        </div>
              
					
				</div>
			</div>
		
            </section>
		

            <!-- /.content -->
         </div>
         <!-- /.content-wrapper -->
        <%- include('../../partials/footer') %>
      </div>
	 <!-- Modal1 -->
              
              
                  <div class="modal fade" id="viewPracticeModal" tabindex="-1" role="dialog">
                  <div class="modal-dialog modal-lg"  role="document">
                     <div class="modal-content">
                        <div class="modal-header modal-header-primary">
                           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                           <h3><i class="fa fa-plus m-r-5"></i> Exam Details</h3>
                        </div>
                        <div class="modal-body">
                         
                              <div id="viewPracticeDiv">
                               
                             
                           </div>
                        </div>
                        <div class="modal-footer">
                        <div align="center">
                           <button type="button" class="btn btn-primary startWithCheck">Next</button> 
                           </div>
                        </div>
                     </div>
                     <!-- /.modal-content -->
                  </div>
                  <!-- /.modal-dialog -->
               </div>

                <div class="modal fade" id="viewExplainationModal" tabindex="-1" role="dialog">
                  <div class="modal-dialog modal-lg"  role="document">
                     <div class="modal-content">
                        <div class="modal-header modal-header-primary">
                           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                           <h3><i class="fa fa-plus m-r-5"></i> Exam Details</h3>
                        </div>
                        <div class="modal-body">
                         
                              <div id="viewExplainationDiv">
                               
                             
                           </div>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                        </div>
                     </div>
                     <!-- /.modal-content -->
                  </div>
                  <!-- /.modal-dialog -->
               </div>
                <div class="modal fade" id="viewQuestionModal" tabindex="-1" role="dialog">
                  <div class="modal-dialog modal-lg"  role="document">
                     <div class="modal-content">
                        <div class="modal-header modal-header-primary">
                          
                           <h3><i class="fa fa-plus m-r-5"></i>Question Palate</h3>
                        </div>
                        <div class="modal-body">
                         
                              <div id="viewQuestionDiv">
                               
                             
                           </div>
                        </div>
                        <div class="modal-footer">
                         
                        </div>
                     </div>
                     <!-- /.modal-content -->
                  </div>
                  <!-- /.modal-dialog -->
               </div>
               
               
      <!-- /.wrapper -->
      <!-- Start Core Plugins
         
         =====================================================================-->
   <%- include('../../partials/footer-script') %>

   <script type="text/javascript" language="javascript">


     
    
       
function startExam(examId) {
    try {
     
      $("#viewPracticeDiv").html("");
      $("#viewPracticeModal").modal("toggle");
      $.ajax({
         url: `/test-series/get-question-exam-wise`,
         type: "post",
         data:{examId:examId},
         dataType: "json",
         cache: false,
         success: function (data) {
    console.log(data);
            let formDetails = ``;
            formDetails += `<table class="table table-bordered table-striped"> 
               <input type="hidden" id="examId" value="${examId}">
               <tr><td>Exam Name</td><td>${data[0].exam_name}</td></tr>
               <tr><td>Number of Question</td><td>${data.length}</td></tr>
               <tr><td>Right marks</td><td>${data[0].right_marks}</td></tr>
               <tr><td>Wrong marks</td><td>${data[0].wrong_marks}</td></tr>
               </table>
               </br>
               <input type="checkbox" id="terms"> Please Select and Proccede to Next.
    </br>

               `;
            $("#viewPracticeDiv").html(formDetails);
          
        },
      });
    } catch (err) {
      console.error(err);
    }
  }

  function viewExplaination(examId) {
    try {
     
      $("#viewExplainationDiv").html("");
      $("#viewExplainationModal").modal("toggle");
      $.ajax({
         url: `/test-series/view-explaination`,
         type: "post",
         data:{examId:examId},
         dataType: "json",
         cache: false,
         success: function (data) {
    console.log(data);
            let formDetails = ``;
            formDetails += `<table class="table table-bordered table-striped"> 
               
               <tr><td>Exam Name</td><td>${data[0].exam_name}</td></tr>
               <tr><td>Number of Question</td><td>${data.length}</td></tr>
               <tr><td>Right marks</td><td>${data[0].right_marks}</td></tr>
               <tr><td>Wrong marks</td><td>${data[0].wrong_marks}</td></tr>
               </table>
               </br>
               <input type="checkbox" id="terms"> Please Select and Proccede to Next.`;
            $("#viewExplainationDiv").html(formDetails);
          
        },
      });
    } catch (err) {
      console.error(err);
    }
  }


               
    
$(document).ready(function(){
	

	toastr.options = {
				'closeButton': true,
				'debug': false,
				'newestOnTop': false,
				'progressBar': true,
				'positionClass': 'toast-top-center',
				'preventDuplicates': false,
				'showDuration': '1000',
				'hideDuration': '1000',
				'timeOut': '5000',
				'extendedTimeOut': '1000',
				'showEasing': 'swing',
				'hideEasing': 'linear',
				'showMethod': 'fadeIn',
				'hideMethod': 'fadeOut',
			}

    
    // Check all 
   $('#checkall').click(function(){
      if($(this).is(':checked')){
         $('.delete_check').prop('checked', true);
      }else{
         $('.delete_check').prop('checked', false);
      }
   });
     // Check all 
   $('#multDel').click(function(){
  if($('#checkall').is(':checked')){
 
       
      $("#deleteMultipleStudentDiv").html("");
      $("#deleteMultipleStudentModal").modal("toggle");
   
          
            let formDetails = ``;
            formDetails += `
                  
                    
                   <div class="col-md-12">
                    Are You Sure. ?
                   </div>

                   <div class="text-center mt-3">
                    <a  class="btn btn-danger waves-effect waves-light" data-bs-dismiss="modal"> No </a>
                     <button
                       type="submit"
                       class="btn btn-primary waves-effect waves-light"
                       id="delete_record"
                    
                     >
                       Yes
                     </button>
                   </div>
                 `;
            $("#deleteMultipleStudentDiv").html(formDetails);
            }else{
   alert("Please Select All")

 }
      
   });

 
  
	$(document).on("click",".startWithCheck",function(){

		 if($('#terms').is(':checked')){
          const examId = $("#examId").val();
          $("#viewPracticeModal").modal("hide");
          $("#viewQuestionDiv").html("");
      $("#viewQuestionModal").modal("toggle");
      $.ajax({
         url: `/test-series/get-practice-question`,
         type: "post",
         data:{examId:examId},
         dataType: "json",
         cache: false,
         success: function (data) {
       
            let formDetails = ``;
            formDetails += `<form method="post" id="quiz-form" enctype="multipart/form-data">
                             
                                  <input type="hidden"  value="${examId}" class="form-control" name="exam_id">
                                   <div class="col-md-12">
                            <div class="row">
                             
                              <div class="mt-5">
        <h1 class="mb-4">Quiz Title</h1>
      
            <div class="cardf">
                <div class="cardf-body">
                    <h5 class="cardf-title" id="question_title">${data.currentQuestion[0].question_title}</h5>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="question1" id="option1" value="${data.currentQuestion[0].option_one}">
                        <label class="form-check-label" for="option1" id="option1Lebel">
                            ${data.currentQuestion[0].option_one}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="question1" id="option2" value="${data.currentQuestion[0].option_two}">
                        <label class="form-check-label" for="option2" id="option2Lebel">
                           ${data.currentQuestion[0].option_two}
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="question1" id="option3" value="${data.currentQuestion[0].option_three}">
                        <label class="form-check-label" for "option3" id="option3Lebel">
                          ${data.currentQuestion[0].option_three}
                        </label>
                    </div>
                     <div class="form-check">
                        <input class="form-check-input" type="radio" name="question1" id="option4" value="${data.currentQuestion[0].option_four}">
                        <label class="form-check-label" for "option4" id="option4Lebel">
                          ${data.currentQuestion[0].option_four}
                        </label>
                    </div>
                </div>
            </div>
            <div class="cardf mt-3">
                <div class="cardf-body">
                  <div align="center">
                     </br>
                     </br>
                    <button type="button" class="btn btn-warning" id="prev-btn" style="float: left;" value="${data.previousQuestionId}">Previous</button>
                    <button type="button" class="btn btn-primary" id="next-btn" style="float: right;" value="${data.nextQuestionId}">Save & Next</button>
                    <button type="submit" class="btn btn-success" id="submit-btn" style="display: none;">Submit</button>
                </div>
                </div>
            </div>
       
    </div>
                              
                            </div>
                               </div>
                            
                        </form>`;
            $("#viewQuestionDiv").html(formDetails);

         const numQuestions = data.totalQuestion; // Set the total number of questions
        let currentQuestion = 1;
         const prevButton = document.getElementById('prev-btn');
       const  nextButton = document.getElementById('next-btn');
        const submitButton = document.getElementById('submit-btn');
        const  quizForm =  document.getElementById('quiz-form')

      //   // Function to update the button visibility based on the current question
        function updateButtonVisibility() {
         
         if (currentQuestion === 1) {
           
                prevButton.style.display = 'none';
            } else {
                prevButton.style.display = 'block';
            }

            if (currentQuestion === numQuestions) {
                nextButton.style.display = 'block';
                 submitButton.style.display = 'block';
               
            } else {
                nextButton.style.display = 'block';
                submitButton.style.display = 'none';
            }
        }

        // Event listeners for "Previous" and "Next" buttons
       if(prevButton){
        prevButton.addEventListener('click', () => {
const questionId = $('#prev-btn').attr('value');

            if (currentQuestion > 1) {
                 currentQuestion--;
            updateButtonVisibility();
                  $.ajax({
         url: `/test-series/get-prev-question`,
         type: "post",
         data:{examId:examId,questionId:questionId},
         dataType: "json",
         cache: false,
         success: function (prevData) {
        console.log(prevData);
       
             $("#question_title").html("");
             $("#option1").val("");
             $("#option2").val("");
             $("#option3").val("");
             $("#option4").val("");
             $("#option1Lebel").html("");
             $("#option2Lebel").html("");
             $("#option3Lebel").html("");
             $("#option4Lebel").html("");
            $("#question_title").html(prevData.currentQuestion[0].question_title);
            $("#option1").val(prevData.currentQuestion[0].option_one);
            $("#option2").val(prevData.currentQuestion[0].option_two);
            $("#option3").val(prevData.currentQuestion[0].option_three);
            $("#option4").val(prevData.currentQuestion[0].option_four);
            $("#option1Lebel").html(prevData.currentQuestion[0].option_one);
            $("#option2Lebel").html(prevData.currentQuestion[0].option_two);
            $("#option3Lebel").html(prevData.currentQuestion[0].option_three);
            $("#option4Lebel").html(prevData.currentQuestion[0].option_four);
            $('#prev-btn').val(prevData.previousQuestionId);
            $('#next-btn').val(prevData.nextQuestionId);
          


             const option1 = document.getElementById("option1").value;
            const option2 = document.getElementById("option2").value;
            const option3 = document.getElementById("option3").value;
            const option4 = document.getElementById("option4").value;


           if(option1==prevData.currentQuestion[0].given_options){
                document.getElementById("option1").attr('checked',true)
            }
               if(option2==prevData.currentQuestion[0].given_options){
                document.getElementById("option2").attr('checked',true)
            }
               if(option3==prevData.currentQuestion[0].given_options){
                document.getElementById("option3").attr('checked',true)
            }
               if(option4==prevData.currentQuestion[0].given_options){
                document.getElementById("option4").attr('checked',true)
            }
        },
      });
            }
        });
      }
         if(nextButton){
        nextButton.addEventListener('click', () => {
           const questionId = $('#next-btn').attr('value');
           
           const givenOption = $("[name='question1']:checked").val();
           if(givenOption !== undefined){
   
            if (currentQuestion < numQuestions) {
                currentQuestion++;
            updateButtonVisibility();
                  $.ajax({
         url: `/test-series/get-next-question`,
         type: "post",
         data:{examId:examId,questionId:questionId,givenOption:givenOption},
         dataType: "json",
         cache: false,
         success: function (nextData) {
              
             const option1 = document.getElementById("option1").value;
            const option2 = document.getElementById("option2").value;
            const option3 = document.getElementById("option3").value;
            const option4 = document.getElementById("option4").value;

alert(nextData.currentQuestion[0].given_options);
           if(option1==nextData.currentQuestion[0].given_options){
                document.getElementById("option1").attr('checked',true)
            }
               if(option2==nextData.currentQuestion[0].given_options){
                document.getElementById("option2").attr('checked',true)
            }
               if(option3==nextData.currentQuestion[0].given_options){
                document.getElementById("option3").attr('checked',true)
            }
               if(option4==nextData.currentQuestion[0].given_options){
                document.getElementById("option4").attr('checked',true)
            }
     
             $("#question_title").html("");
             $("#option1").val("");
             $("#option2").val("");
             $("#option3").val("");
             $("#option4").val("");
             $("#option1Lebel").html("");
             $("#option2Lebel").html("");
             $("#option3Lebel").html("");
             $("#option4Lebel").html("");
            $("#question_title").html(nextData.currentQuestion[0].question_title);
            $("#option1").val(nextData.currentQuestion[0].option_one);
            $("#option2").val(nextData.currentQuestion[0].option_two);
            $("#option3").val(nextData.currentQuestion[0].option_three);
            $("#option4").val(nextData.currentQuestion[0].option_four);
            $("#option1Lebel").html(nextData.currentQuestion[0].option_one);
            $("#option2Lebel").html(nextData.currentQuestion[0].option_two);
            $("#option3Lebel").html(nextData.currentQuestion[0].option_three);
            $("#option4Lebel").html(nextData.currentQuestion[0].option_four);
             $('#prev-btn').val(nextData.previousQuestionId);
            $('#next-btn').val(nextData.nextQuestionId);
           
        
        },
      });
              
            }
         }else{
            alert("Please select atleast one")
         }
         });
      }

        // Event listener for form submission
        if(quizForm){
        quizForm.addEventListener('submit', function(e) {
            e.preventDefault();
              $.ajax({
         url: `/test-series/submit-exam`,
         type: "post",
         data:{examId:examId},
         dataType: "json",
         cache: false,
         success: function (data) {
        console.log(data);
           //redirect to solution page
          
        },
      });
        });
      }

      //   Initial button visibility setup

        updateButtonVisibility();
          
        },
      });
       


  }else{
   alert("Please Select Checkbox to Procede.")

 }
	
 
});



	
 
var dataTable = $('#newTest').DataTable({
		"processing": true,
		"serverSide": true,
		 dom: 'Bfrtip',
   buttons: [
      {
         extend: 'csv',
        
         exportOptions: {
            columns: 'th:not(:last-child)'
         }
      },
       {
         extend: 'pdf',
        
         exportOptions: {
            columns: 'th:not(:last-child)'
         }
      }
   ],
		"order":[],
		"ajax":{
			url:"/test-series/get-new-practice-test",
			type:"POST",
		},
         columns: [
        { data: "name" },
        { data: "startDate" },
        { data: "endDate" },
        { data: "mode" },
        { data: "totalMarks" },
        { data: "action" },
	],
		
	});
   var dataTable = $('#completedTest').DataTable({
		"processing": true,
		"serverSide": true,
		 dom: 'Bfrtip',
   buttons: [
      {
         extend: 'csv',
        
         exportOptions: {
            columns: 'th:not(:last-child)'
         }
      },
       {
         extend: 'pdf',
        
         exportOptions: {
            columns: 'th:not(:last-child)'
         }
      }
   ],
		"order":[],
		"ajax":{
		url:"/test-series/get-completed-practice-test",
			type:"POST",
		},
         columns: [
        { data: "name" },
        { data: "startDate" },
        { data: "endDate" },
        { data: "mode" },
        { data: "totalMarks" },
        { data: "action" },
	],
		
	});

	
	
});	
// window.addEventListener("DOMContentLoaded",(event)=>{

  
    
setTimeout(function () {
    $("#error").hide();
  }, 3000);
  setTimeout(function () {
    $("#error_msg").hide();
  }, 3000);
  setTimeout(function () {
    $("#success_msg").hide();
  }, 3000);
</script>