<%- include('../../partials/top-bar') %>


      <!-- Site wrapper -->
      <div class="wrapper">
         <%- include('../../partials/header') %>
		
         <!-- =============================================== -->
         <!-- Left side column. contains the sidebar -->
       <%- include('../../partials/sidebar') %>
	
   
         <!-- =============================================== -->
         <!-- Content Wrapper. Contains page content -->
         <div class="content-wrapper">
			   
            <!-- Content Header (Page header) -->
            <section class="content-header">
               <div class="header-icon">
                  <i class="fa fa-dashboard"></i>
               </div>
               <div class="header-title">
                  <h1>SMART SCHOOL Dashboard</h1>
                  <small>Very detailed & featured admin.</small>
               </div>
            </section>
			
            <!-- Main content -->
            <section class="content">
          
			<div class="panel panel-bd lobidrag">
                        <div class="panel-heading">
                           <div class="btn-group" id="buttonexport">
                              <a href="#">
                                 <h4>All Practice Test</h4>
                              </a>
                           </div>
                        </div>
                        <div class="panel-body">
                            <%- include('../../partials/message') %>
                           
		<br>

                     <!-- Nav tabs -->
                     <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab1" data-toggle="tab">New Test</a></li>
                        <li><a href="#tab2" data-toggle="tab">Completed Test</a></li>
                     </ul>
                     <!-- Tab panels -->
                   <div class="tab-content">
                         
                        <div class="tab-pane fade in active" id="tab1">
                           
						<table id="newTest" class="table table-bordered table-striped">
						
							<thead>
								<tr>
									
									<th>Exam Name</th>
									<th>Start Date</th>
									<th>End Date</th>
									<th>Exam Mode</th>
									<th>Total Marks</th>
									<th class="noExport">Action</th>
								</tr>
							</thead>
						</table>
                  
                        </div>
                        
                        
                        <div class="tab-pane fade" id="tab2">
                         
						
						<table id="completedTest" style="width:100%" class="table table-bordered table-striped">
						
							<thead>
								<tr>
									
									<th>Exam Name</th>
									<th>Start Date</th>
									<th>End Date</th>
									<th>Exam Mode</th>
									<th>Total Marks</th>
									<th class="noExport">Action</th>
								</tr>
							</thead>
						</table>
                
                        </div>
                        </div>
              
					
				</div>
			</div>
		
            </section>
		

            <!-- /.content -->
         </div>
         <!-- /.content-wrapper -->
        <%- include('../../partials/footer') %>
      </div>
	 <!-- Modal1 -->
               <div class="modal fade" id="answeredModal" tabindex="-1" role="dialog">
                  <div class="modal-dialog modal-lg"  role="document">
                     <div class="modal-content">
                        <div class="modal-header modal-header-primary">
                          
                           <h3><i class="fa fa-plus m-r-5"></i> Exam Details</h3>
                        </div>
                        <div class="modal-body">
                         
                              <div id="answeredDiv">
                               
                             
                           </div>
                        </div>
                        <div class="modal-footer">
                           
                           <button type="button" class="btn btn-success pull-center final-submit">Final Submit</button>
                        </div>
                     </div>
                     <!-- /.modal-content -->
                  </div>
                  <!-- /.modal-dialog -->
               </div>
              
                  <div class="modal fade" id="viewPracticeModal" tabindex="-1" role="dialog">
                  <div class="modal-dialog modal-lg"  role="document">
                     <div class="modal-content">
                        <div class="modal-header modal-header-primary">
                           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                           <h3><i class="fa fa-plus m-r-5"></i> Exam Details</h3>
                        </div>
                        <div class="modal-body">
                         
                              <div id="viewPracticeDiv">
                               
                             
                           </div>
                        </div>
                        <div class="modal-footer">
                        <div align="center">
                           <button type="button" class="btn btn-primary startWithCheck">Next</button> 
                           </div>
                        </div>
                     </div>
                     <!-- /.modal-content -->
                  </div>
                  <!-- /.modal-dialog -->
               </div>

                <div class="modal fade" id="viewExplainationModal" tabindex="-1" role="dialog">
                  <div class="modal-dialog modal-lg"  role="document">
                     <div class="modal-content">
                        <div class="modal-header modal-header-primary">
                           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                           <h3><i class="fa fa-plus m-r-5"></i> Exam Details</h3>
                        </div>
                        <div class="modal-body">
                         
                              <div id="viewExplainationDiv">
                               
                             
                           </div>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                        </div>
                     </div>
                     <!-- /.modal-content -->
                  </div>
                  <!-- /.modal-dialog -->
               </div>
              
                <div class="modal fade" id="viewQuestionModal" tabindex="-1" role="dialog">
                  <div class="modal-dialog modal-lg"  role="document">
                     <div class="modal-content">
                        <div class="modal-header modal-header-primary">
                          
                           <h3><i class="fa fa-plus m-r-5"></i>Question Palate</h3>
                        </div>
                        <div class="modal-body">
                           <div class="quiz-container">
                              <input type="hidden" id="examIds">
                              <input type="hidden" id="questionIds">
                              <input type="hidden" id="givenOption">
                              <div class="question-palette">
                              <!-- Question palette will be dynamically populated -->
                              </div>
                              <div class="question-container">
                              <div class="question">
                              <!-- Question will be loaded here using AJAX -->
                              <h4 id="question-text"></h4>
                                 <ul id="options-list"></ul>
                                 <div class="form-check" id="options-list">

                                 </div>
                              </div>
                              <div class="navigation-buttons">
                              <button class="btn btn-info prev-button">Prev</button>
                              <button class="btn btn-primary save-next-button">Save & Next</button>
                              <button class="btn btn-success submit-button" style="display: none;">Submit</button>
                              </div>
                              </div>
                              </div>

                     

                        </div>
                        <div class="modal-footer">
                         
                        </div>
                     </div>
                     <!-- /.modal-content -->
                  </div>
                  <!-- /.modal-dialog -->
               </div>
               
               
      <!-- /.wrapper -->
      <!-- Start Core Plugins
         
         =====================================================================-->
   <%- include('../../partials/footer-script') %>

   <script nonce="<%= nonce %>" type="text/javascript" language="javascript">

document.addEventListener("click", function(event) {
    const target = event.target;
    if (target.classList.contains("newPracticeBtn")) {
        startExam(target.dataset.id);
    } else if (target.classList.contains("viewExplainationBtn")) {
        viewExplaination(target.dataset.id);
    }
});
   

   
       
function startExam(examId) {
    try {
     
      $("#viewPracticeDiv").html("");
      $("#viewPracticeModal").modal("toggle");
      $.ajax({
         url: `/test-series/get-question-exam-wise`,
         type: "post",
         data:{examId:examId},
         dataType: "json",
         cache: false,
         success: function (data) {
    console.log(data);
            let formDetails = ``;
            formDetails += `<table class="table table-bordered table-striped"> 
               <input type="hidden" id="examId" value="${examId}">
               <tr><td>Exam Name</td><td>${data[0].exam_name}</td></tr>
               <tr><td>Number of Question</td><td>${data.length}</td></tr>
               <tr><td>Right marks</td><td>${data[0].right_marks}</td></tr>
               <tr><td>Wrong marks</td><td>${data[0].wrong_marks}</td></tr>
               </table>
               </br>
               <input type="checkbox" id="terms"> Please Select and Proccede to Next.
    </br>

               `;
            $("#viewPracticeDiv").html(formDetails);
          
        },
      });
    } catch (err) {
      console.error(err);
    }
  }

  function viewExplaination(examId) {
    try {
     
      $("#viewExplainationDiv").html("");
      $("#viewExplainationModal").modal("toggle");
      $.ajax({
         url: `/test-series/view-explaination`,
         type: "post",
         data:{examId:examId},
         dataType: "json",
         cache: false,
         success: function (data) {
    console.log(data);
     let formDetails = ``;
    data.forEach((item,i)=>{
 formDetails += `<div class="cardsss">
      <div class="cardsss-body">
        
        <h5 class="cardss-title">Question ${i+1}</h5>
        <p class="cardss-text">${item.question_title}</p>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="question1" id="option1" value="option1">
          <label class="form-check-label" for="option1">
           ${item.option_one}
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="question1" id="option2" value="option2">
          <label class="form-check-label" for="option2">
           ${item.option_two}
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="question1" id="option3" value="option3">
          <label class="form-check-label" for="option3">
           ${item.option_three}
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="question1" id="option3" value="option3">
          <label class="form-check-label" for="option3">
           ${item.option_four}
          </label>
        </div>
      </div>
        <h5>  Marks:${item.marks}   </h5>  <h5>  Right Answer:${item.right_option}   </h5>  <h5>   Given Answer:${item.given_options}   </h5>
    </div>
`;
    });
           
           
            $("#viewExplainationDiv").html(formDetails);
          
        },
      });
    } catch (err) {
      console.error(err);
    }
  }

$(document).on("click",".submit-button",function(){
    try {
       $("#viewQuestionModal").modal("hide");
      $("#answeredDiv").html("");
      $("#answeredModal").modal("toggle");
       const examId =	$('#examIds').val(); 
      $.ajax({
         url: `/test-series/get-answered-not-answered`,
         type: "post",
         data:{examId:examId},
         dataType: "json",
         cache: false,
         success: function (data) {
// $('#examidforanswer').val(examId);
 const savedData = data.filter(item => item.question_status === 'saved');
const notSavedData = data.filter(item => item.question_status === 'notsaved');
            let formDetails = ``;
            formDetails += `<table class="table table-bordered table-striped"> 
               <tr><td>Total number of Question</td><td>${data.length}</td></tr>
               <tr><td>Answered Question</td><td>${savedData.length}</td></tr>
               <tr><td>Not Answered Question</td><td>${notSavedData.length?notSavedData.length:0}</td></tr>
              
               </table>
               </br>
              `;
            $("#answeredDiv").html(formDetails);
          
        },
      });
    } catch (err) {
      console.error(err);
    }
  })

  
               
    
$(document).ready(function(){
	

	toastr.options = {
				'closeButton': true,
				'debug': false,
				'newestOnTop': false,
				'progressBar': true,
				'positionClass': 'toast-top-center',
				'preventDuplicates': false,
				'showDuration': '1000',
				'hideDuration': '1000',
				'timeOut': '5000',
				'extendedTimeOut': '1000',
				'showEasing': 'swing',
				'hideEasing': 'linear',
				'showMethod': 'fadeIn',
				'hideMethod': 'fadeOut',
			}

	$(document).on("click",".startWithCheck",function(){

		 if($('#terms').is(':checked')){
          const examId = $("#examId").val();
          $("#viewPracticeModal").modal("hide");
          $("#viewQuestionDiv").html("");
      $("#viewQuestionModal").modal("toggle");
     var currentQuestionIndex = 0;
 
     	// Load the first question initially
 	loadQuestion(currentQuestionIndex);
	 function loadQuestion(index) {
 	$.ajax({
     	url: '/test-series/get-question-by-index', // Server endpoint to get questions
     	type: 'POST',
     	data: { index: index,examId:examId },  
     	success: function(response) {
          $('#givenOption').val( response.questionData.given_options); 
         	// var questionData = JSON.parse(response); // Assuming the response contains JSON data
 if(response.data.length === currentQuestionIndex+1){
   
   $('.submit-button').show();
 }else{
   
   $('.submit-button').hide();

 }
        	$('#question-text').text(response.questionData.question); 
        	$('#examIds').val(response.questionData.track_exam_id); 
        	$('#questionIds').val(response.questionData.track_id); 
         
        	var optionsList = $('#options-list');
         	optionsList.empty(); // Clear previous options
 
        	// Display options
         response.questionData.options.forEach(function(option, i) {
    let isChecked = response.questionData.given_options === `option${i+1}`;
    console.log(response.questionData)
    optionsList.append(
        `<input type="radio" class="form-check-input radioBtnClass" name="option" id="option${i+1}" ${isChecked ? 'checked' : ''} value="option${i+1}">
        <label class="form-check-label" for="option${i+1}Lebel">${option}</label><br>`
    );
  
});


            	var palateList = $('.question-palette');
         	palateList.empty(); // Clear previous options
            // Populate question palette with question numbers
 	for (var i = 0; i < response.data.length; i++) {
     	$('.question-palette').append('<button class="btn btn-danger question-number">' + (i + 1) + '</button>');
 	}
  
     	},
     	error: function(xhr, status, error) {
         	console.error(xhr.responseText);
     	}
 	});
 }
  
 $(document).on('click','input[name=option]:checked',function(){
      $('#givenOption').val($('input[name=option]:checked').val());         

   })
 
	// Function to save answer and load next question
 	function saveAndNext() {
     	// Save answer logic here if needed
     const examId =	$('#examIds').val(); 
        	 const questionId =	$('#questionIds').val();
        	 const givenOption =	$('#givenOption').val();
      $.ajax({
     	url: '/test-series/save-next-question', // Server endpoint to get questions
     	type: 'POST',
     	data: {examId:examId,questionId:questionId,givenOption:givenOption },  
     	success: function(response) {

           currentQuestionIndex++;
            loadQuestion(currentQuestionIndex);
      }
      })
 	}
 
	// Function to go to the previous question
 	function goToPrevious() {
     	if (currentQuestionIndex > 0) {
         	currentQuestionIndex--;
         	loadQuestion(currentQuestionIndex);
     	}
 	}
 
	// Event handler for Prev button click
 	$('.prev-button').click(function() {
     	goToPrevious();
 	});
 
	// Event handler for Save & Next button click
 	$('.save-next-button').click(function() {
     	saveAndNext();
 	});
 
	
	
 
	// Event handler for clicking question number
 	$(document).on('click','.question-number',function() {

     	var index = $(this).index();
     	currentQuestionIndex = index;
     	loadQuestion(index);
 	});
 
  }else{
   alert("Please Select Checkbox to Procede.")

 }
	
 
});



	
 
var dataTable = $('#newTest').DataTable({
		"processing": true,
		"serverSide": true,
		 dom: 'Bfrtip',
   buttons: [
      {
         extend: 'csv',
        
         exportOptions: {
            columns: 'th:not(:last-child)'
         }
      },
       {
         extend: 'pdf',
        
         exportOptions: {
            columns: 'th:not(:last-child)'
         }
      }
   ],
		"order":[],
		"ajax":{
			url:"/test-series/get-new-practice-test",
			type:"POST",
		},
         columns: [
        { data: "name" },
        { data: "startDate" },
        { data: "endDate" },
        { data: "mode" },
        { data: "totalMarks" },
        { data: "action" },
	],
		
	});
   var dataTable = $('#completedTest').DataTable({
		"processing": true,
		"serverSide": true,
		 dom: 'Bfrtip',
   buttons: [
      {
         extend: 'csv',
        
         exportOptions: {
            columns: 'th:not(:last-child)'
         }
      },
       {
         extend: 'pdf',
        
         exportOptions: {
            columns: 'th:not(:last-child)'
         }
      }
   ],
		"order":[],
		"ajax":{
		url:"/test-series/get-completed-practice-test",
			type:"POST",
		},
         columns: [
        { data: "name" },
        { data: "startDate" },
        { data: "endDate" },
        { data: "mode" },
        { data: "totalMarks" },
        { data: "action" },
	],
		
	});

 	

	
});	
// window.addEventListener("DOMContentLoaded",(event)=>{

  $(document).on("click",".final-submit",function(){
    try {
      
       const examId = $('#examIds').val(); 
      $.ajax({
         url: `/test-series/submit-exam`,
         type: "post",
         data:{examId:examId},
         dataType: "json",
         cache: false,
         success: function (data) {
              Swal.fire({
                    position: "top-center",
                    icon: "success",
                    title: "Test Submitted Successfully !!",
                    showConfirmButton: false,
                    timer: 2000,
                  });
                   $("#answeredModal").modal("hide");
            $('#completedTest').DataTable().ajax.reload();
            $('#newTest').DataTable().ajax.reload();
          
        },
      });
    } catch (err) {
      console.error(err);
    }
  })
    
setTimeout(function () {
    $("#error").hide();
  }, 3000);
  setTimeout(function () {
    $("#error_msg").hide();
  }, 3000);
  setTimeout(function () {
    $("#success_msg").hide();
  }, 3000);
</script>