<%- include('../../partials/top-bar') %>


      <!-- Site wrapper -->
      <div class="wrapper">
         <%- include('../../partials/header') %>
		
         <!-- =============================================== -->
         <!-- Left side column. contains the sidebar -->
       <%- include('../../partials/sidebar') %>
	
   
         <!-- =============================================== -->
         <!-- Content Wrapper. Contains page content -->
         <div class="content-wrapper">
			   
            <!-- Content Header (Page header) -->
            <section class="content-header">
               <div class="header-icon">
                  <i class="fa fa-dashboard"></i>
               </div>
               <div class="header-title">
                  <h1>SMART SCHOOL Dashboard</h1>
                  <small>Very detailed & featured admin.</small>
               </div>
            </section>
			
            <!-- Main content -->
            <section class="content">
          
			<div class="panel panel-bd lobidrag">
                        <div class="panel-heading">
                           <div class="btn-group" id="buttonexport">
                              <a href="#">
                                 <h4>All student</h4>
                              </a>
                           </div>
                        </div>
                        <div class="panel-body">
                            
                            <%- include('../../partials/message') %>
                            <% if(user[0].role==="school"){ %>
					 <div class="row"> 
 <div class="col-md-6 text-left">
								 <input type="checkbox" class='checkall' id='checkall'> &nbsp;&nbsp; <input type="button" class="btn-sm btn-danger" id="multDel"  value='Check All & Delete' >

               
				
            </div>
           
            <div class="col-md-6 text-right">
 
                                 <a href="#" class="btn btn-add" data-toggle="modal" data-target="#addStudent-lg"><i class="fa fa-plus"></i> Add New</a>  
                                 <a href="#" class="btn btn-add" data-toggle="modal" data-target="#bulkStudentModal"><i class="fa fa-plus"></i> Bulk Create</a>  
                                 
                             
            </div>
			<br>
        </div>

        <% } %>
		<br>

					<div class="table-responsive">
						
						<table id="sample_data" class="table table-bordered table-striped">
						
							<thead>
								<tr>
									<th></th>
									<th> Name</th>
									<th> Email</th>
									<th>Gender</th>
									<th class="noExport">Action</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
		
            </section>
		

            <!-- /.content -->
         </div>
         <!-- /.content-wrapper -->
        <%- include('../../partials/footer') %>
      </div>
	 <!-- Modal1 -->
               <div class="modal fade" id="addStudent-lg" tabindex="-1" role="dialog">
                  <%- include('../../partials/loader') %>
                  <div class="modal-dialog modal-lg"  role="document">
                     <div class="modal-content">
                        <div class="modal-header modal-header-primary">
                           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                           <h3><i class="fa fa-plus m-r-5"></i> Add New Student</h3>
                        </div>
                        <div class="modal-body">
                           <div class="row">
                              <div class="col-md-12">
                                <form action="" id="studentForm">
                                  <input type="hidden" id="student_school_id" value="<%= user[0].role=='school'?user[0].track_id:user[0].track_school_id %>" class="form-control" name="student_school_id" >
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <label>Name</label>
                                    <input type="text" id="student_name" class="form-control" name="student_name" required>
                                </div>
                                  <div class="form-group col-lg-6">
                                    <label>Father's Name</label>
                                    <input type="text" id="student_father_name" class="form-control" name="student_father_name" required>
                                </div>
                                  <div class="form-group col-lg-6">
                                    <label>Mother's Name</label>
                                    <input type="text" id="student_mother_name" class="form-control" name="student_mother_name" required>
                                </div>
                                 <div class="form-group col-lg-6">
                                    <label>Parent  Phone Number</label>
                                    <input type="text" id="student_parent_phone" class="form-control" name="student_parent_phone" required>
                                </div>
                               
                                  <div class="form-group col-lg-6">
                                    <label>Class</label>
                                   <select name="student_class_id" id="student_class_id" class="form-control" required>
                                    <option value="">Please Select</option>
                                    <% for(let i = 0; i < data.length; i++){%> 
                                    <option value="<%= data[i].track_id %>"><%= data[i].class_name %></option>
                                       <% } %>
                                   </select>
                                </div>
                                  <div class="form-group col-lg-6">
                                    <label>Gender</label>
                                   <select name="student_gender" id="student_gender" class="form-control" required>
                                    <option value="">Please Select</option>
                                    <option value="Male">Male</option>
                                    <option value="FeMale">FeMale</option>
                                   </select>
                                </div>
                                  <div class="form-group col-lg-6">
                                    <label>Hobbies</label>
                                    <input type="text" id="student_hobbies" class="form-control" name="student_hobbies" required>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>DOB</label>
                                    <input type="date" id="student_dob" class="form-control" name="student_dob" required>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>Email ID</label>
                                    <input type="email" id="student_email" class="form-control" name="student_email" required>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>Phone Number</label>
                                    <input type="text" id="student_phone" class="form-control" name="student_phone" required>
                                </div>
                                 <div class="form-group col-lg-6">
                                    <label> Address</label>
                                  
                                    <textarea id="student_address" placeholder="Address" rows="5" class="form-control" required name="student_address"></textarea>
                                </div>
                              
                                <div class="form-group col-lg-6">
                                    <label>Upload Photo</label>
                                    <input type="file" id="student_photo" class="form-control" name="student_photo" required>
                                </div>
                            </div>
                            <div align="center">
                               <button class="	btn btn-success waves-effect waves-light "
															data-callback="onSubmit" id="saveStudent" data-action="submit">
															Register
														</button>
                            </div>
                        </form>
                              </div>
                           </div>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                        </div>
                     </div>
                     <!-- /.modal-content -->
                  </div>
                  <!-- /.modal-dialog -->
               </div>
                <div class="modal fade" id="bulkStudentModal" tabindex="-1" role="dialog">
                   <%- include('../../partials/loader') %>
                 <div id="loaderBulk" class="lds-dual-ring hidden overlay"></div>

                  <div class="modal-dialog modal-lg"  role="document">
                     
                     <div class="modal-content">
                       
                        <div class="modal-header modal-header-primary">
                           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                           <h3><i class="fa fa-plus m-r-5"></i> Bulk Create</h3>
                        </div>
                       
                        <div class="modal-body">
                              <div class="row">
                              <div class="col-md-12">
                                <form action="" id="bulkUploadForm">
                                  <input type="hidden" id="student_school_id" value="<%=  user[0].role=='student'?user[0].track_id:user[0].track_school_id %>" class="form-control" name="student_school_id" >
                            <div class="row">

                                <div class="form-group col-lg-6">
                                    <label>Upload File</label>
                                    <input type="file" id="file" class="form-control" name="file" required>
                                </div>
                            </div>
                            <div align="center">
                               <button class="	btn btn-success waves-effect waves-light "
															data-callback="onSubmit" id="111" data-action="submit">
															Upload
														</button>
                            </div>
                        </form>
                              </div>
                           </div>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                        </div>
                     </div>
                     <!-- /.modal-content -->
                  </div>
                  <!-- /.modal-dialog -->
               </div>
                <div class="modal fade" id="deleteStudentModal" tabindex="-1" role="dialog">
                   <%- include('../../partials/loader') %>
                  <div class="modal-dialog">
                     <div class="modal-content">
                        <div class="modal-header modal-header-primary">
                           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                           <h3><i class="fa fa-minus m-r-5"></i> Remove Student</h3>
                        </div>
                        <div class="modal-body">
                         
                              <div id="deleteStudentDiv">
                               
                             
                           </div>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                        </div>
                     </div>
                     <!-- /.modal-content -->
                  </div>
                  <!-- /.modal-dialog -->
               </div>
                  <div class="modal fade" id="deleteMultipleStudentModal" tabindex="-1" role="dialog">
                      <%- include('../../partials/loader') %>
                  <div class="modal-dialog">
                     <div class="modal-content">
                        <div class="modal-header modal-header-primary">
                           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                           <h3><i class="fa fa-minus m-r-5"></i> Remove Students</h3>
                        </div>
                        <div class="modal-body">
                         
                              <div id="deleteMultipleStudentDiv">
                               
                             
                           </div>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                        </div>
                     </div>
                     <!-- /.modal-content -->
                  </div>
                  <!-- /.modal-dialog -->
               </div>
                 <%- include('../../partials/loader') %>
                 <div class="modal fade" id="editStudentModal" tabindex="-1" role="dialog">
                 
                  <div class="modal-dialog modal-lg"  role="document">
                     <div class="modal-content">
                        <div class="modal-header modal-header-primary">
                           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                           <h3><i class="fa fa-plus m-r-5"></i> Edit Student Details</h3>
                        </div>
                        <div class="modal-body">
                         
                              <div id="editStudentDiv">
                               
                             
                           </div>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                        </div>
                     </div>
                     <!-- /.modal-content -->
                  </div>
                  <!-- /.modal-dialog -->
               </div>
                  <div class="modal fade" id="viewStudentModal" tabindex="-1" role="dialog">
                  <div class="modal-dialog modal-lg"  role="document">
                     <div class="modal-content">
                        <div class="modal-header modal-header-primary">
                           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                           <h3><i class="fa fa-plus m-r-5"></i> View Student Details</h3>
                        </div>
                        <div class="modal-body">
                         
                              <div id="viewStudentDiv">
                               
                             
                           </div>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                        </div>
                     </div>
                     <!-- /.modal-content -->
                  </div>
                  <!-- /.modal-dialog -->
               </div>
               
      <!-- /.wrapper -->
      <!-- Start Core Plugins
        
         =====================================================================-->
   <%- include('../../partials/footer-script') %>

   <script nonce="<%= nonce %>" type="text/javascript" language="javascript">

document.addEventListener("click", function(event) {
    const target = event.target;
    if (target.classList.contains("editBtn")) {
        editAdmission(target.dataset.id);
    } else if (target.classList.contains("deleteBtn")) {
        deleteAdmission(target.dataset.id);
    } else if (target.classList.contains("viewBtn")) {
        viewAdmission(target.dataset.id);
    }
});
     
        $("#studentForm").on("submit", async e => {
         
							e.preventDefault();
							try {
								
									const formData = new FormData($(`#${e.target.id}`)[0]);
									e.preventDefault();
									$.ajax({
										url: `/admission/create-student`,
										type: "post",
										processData: false,
										contentType: false,
										
										data: formData,
										dataType: "json",
                     beforeSend: function() {
                     $('#loader').removeClass('hidden')
                     },
										success: function (data) {
                      
                     
                  if (data) {
                       const url = '/success.mp3'
                    const audio = new Audio(url);
                    audio.play();
                     Swal.fire({
                    position: "top-center",
                    icon: "success",
                    title: "Application Saved Successfully !!",
                    showConfirmButton: false,
                    timer: 2000,
                  });
                $("#studentForm")[0].reset();
                  $("#addStudent-lg").modal("hide");
                  $('#sample_data').DataTable().ajax.reload();
                
                } else {
                    Swal.fire({
                    icon: "error",
                    title: "Oops...",
                    text: "Data Allready Exist !",
                  });
                
                }
										
										},
                      complete: function(){
                      $('#loader').addClass('hidden')
                      },
									});

								

							} catch (e) {
								console.error(e)
							}
						});
                 
                    $("#bulkUploadForm").on("submit", async e => {
        
							e.preventDefault();
							try {
								
									const formData = new FormData($(`#${e.target.id}`)[0]);
									e.preventDefault();
									$.ajax({
										url: `/admission/bulk-create-student`,
										type: "post",
										processData: false,
										contentType: false,
										
										data: formData,
										dataType: "json",
                     beforeSend: function() {
                     $('#loaderBulk').removeClass('hidden')
                     },
										success: function (data) {
                      
                     
                  if (data) {
                      
                     Swal.fire({
                    position: "top-center",
                    icon: "success",
                    title: "Bulk Action Completed !!",
                    showConfirmButton: false,
                    timer: 2000,
                  });
                $("#bulkUploadForm")[0].reset();
                  $("#bulkStudentModal").modal("hide");
                  $('#sample_data').DataTable().ajax.reload();
                
                } else {
                    Swal.fire({
                    icon: "error",
                    title: "Oops...",
                    text: "Data Allready Exist !",
                  });
                 $("#bulkUploadForm")[0].reset();
                }
										
										},
                      complete: function(){
                      $('#loaderBulk').addClass('hidden')
                      },
									});

								

							} catch (e) {
								console.error(e)
							}
						});
                  

       
function viewAdmission(studentId) {
    try {
     
      $("#viewStudentDiv").html("");
      $("#viewStudentModal").modal("toggle");
      $.ajax({
         url: `/admission/view-student-byid`,
         type: "post",
         data:{studentId:studentId},
         dataType: "json",
         cache: false,
         beforeSend: function() {
          $('#loader').removeClass('hidden')
             },
         success: function (data) {
    console.log(data);
            let formDetails = ``;
            formDetails += `<table class="table table-bordered table-striped"> 
               
               <tr><td>Photo</td><td><img src="/uploads/student/${data[0].email}/${data[0].photo}" width="100px"></td></tr>
               <tr><td>Name</td><td>${data[0].name}</td></tr>
               <tr><td>Email</td><td>${data[0].email}</td></tr>
               <tr><td>Gender</td><td>${data[0].gender}</td></tr>
                <tr><td>Father Name</td><td>${data[0].fathers_name}</td></tr>
               <tr><td>Mother Name</td><td>${data[0].mothers_name}</td></tr>
               <tr><td>Parent Phone</td><td>${data[0].parent_phone}</td></tr>
               <tr><td>Class</td><td>${data[0].class_name}</td></tr>
               <tr><td>School</td><td>${data[0].school_name}</td></tr>
               <tr><td>address</td><td>${data[0].address}</td></tr>
               <tr><td>DOB</td><td>${data[0].dob}</td></tr>
              
               </table>`;
            $("#viewStudentDiv").html(formDetails);
          
        },
          complete: function(){
                      $('#loader').addClass('hidden')
                      },
      });
    } catch (err) {
      console.error(err);
    }
  }

                  function editAdmission(studentId) {
    try {
     
      $("#editStudentDiv").html("");
      $("#editStudentModal").modal("toggle");
      $.ajax({
         url: `/admission/fetch-student-byid`,
         type: "post",
         data:{studentId:studentId},
         dataType: "json",
         cache: false,
         beforeSend: function() {
            $('#loader').removeClass('hidden')
            },
         success: function (data) {
        console.log(data);
        let option;
        for(let i=0; i<data.classes.length; i++){
           option += `<option value="${data.classes[i].track_id}"${data.data[0].track_class_id==data.classes[i].track_id?'selected':""}>${data.classes[i].class_name}</option>`
        }
            let formDetails = ``;
            formDetails += `<form action="/admission/update-admission-by-id" method="post" enctype="multipart/form-data">
                                  <input type="hidden"  value="${studentId}" class="form-control" name="student_id">
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <label>Name</label>
                                    <input type="text" class="form-control" value="${data.data[0].name}" name="student_name">
                                </div>
                                  <div class="form-group col-lg-6">
                                    <label>Father's Name</label>
                                    <input type="text" class="form-control" value="${data.data[0].fathers_name}" name="student_father_name">
                                </div>
                                  <div class="form-group col-lg-6">
                                    <label>Mother's Name</label>
                                    <input type="text" class="form-control" value="${data.data[0].mothers_name}" name="student_mother_name">
                                </div>
                                 <div class="form-group col-lg-6">
                                    <label>Parent  Phone Number</label>
                                    <input type="text"  class="form-control" value="${data.data[0].parent_phone}" name="student_parent_phone">
                                </div>
                               
                                  <div class="form-group col-lg-6">
                                    <label>Class</label>
                                   <select name="student_class_id" class="form-control">
                                    <option value="">Please Select</option>
                                   ${option}
                                   </select>
                                </div>
                                  <div class="form-group col-lg-6">
                                    <label>Gender</label>
                                   <select name="student_gender"  class="form-control">
                                    <option value="">Please Select</option>
                                    <option value="Male" ${data.data[0].gender=="Male"?'selected':""}>Male</option>
                                    <option value="Female" ${data.data[0].gender=="Female"?'selected':""}>Female</option>
                                   </select>
                                </div>
                                  <div class="form-group col-lg-6">
                                    <label>Hobbies</label>
                                    <input type="text" value="${data.data[0].hobby}" class="form-control" name="student_hobbies">
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>DOB</label>
                                    <input type="date" value="${data.data[0].dob}" class="form-control" name="student_dob">
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>Email ID</label>
                                    <input type="email" value="${data.data[0].email}"  class="form-control" name="student_email" >
                                </div>
                                <div class="form-group col-lg-6">
                                    <label>Phone Number</label>
                                    <input type="text" value="${data.data[0].phone}" class="form-control" name="student_phone">
                                </div>
                                 <div class="form-group col-lg-6">
                                    <label> Address</label>
                                  
                                    <textarea placeholder="Address" rows="5" class="form-control" name="student_address">${data.data[0].address}</textarea>
                                </div>
                              
                                <div class="form-group col-lg-6">
                                
                                    <label>Upload Photo</label>
                                     <img src="/uploads/student/${data.data[0].email}/${data.data[0].photo}" width="100px">
                                    <input type="file" class="form-control" name="student_photo">
                                </div>
                            </div>
                            <div align="center">
                               <input type="submit" class="btn btn-success"
															value="Update">
															
														
                            </div>
                        </form>`;
            $("#editStudentDiv").html(formDetails);
          
        },
          complete: function(){
                      $('#loader').addClass('hidden')
                      },
      });
    } catch (err) {
      console.error(err);
    }
  }
  
   function deleteAdmission(studentId) {
    try {
     
      $("#deleteStudentDiv").html("");
      $("#deleteStudentModal").modal("toggle");
   
          
            let formDetails = ``;
            formDetails += `
                    <input type="hidden" class="form-control" name="studentId" id="studentId" value="${studentId}">
                   
                    
                   <div class="col-md-12">
                    Are You Sure. ?
                   </div>

                   <div class="text-center mt-3">
                    <a  class="btn btn-danger waves-effect waves-light" data-bs-dismiss="modal"> No </a>
                     <button
                       type="submit"
                       class="btn btn-primary delBtn waves-effect waves-light"
                       id="register"
                     >
                       Yes
                     </button>
                   </div>
                 </form> `;
            $("#deleteStudentDiv").html(formDetails);
          
       
    } catch (err) {
      console.error(err);
    }
  }
    
$(document).ready(function(){
	

	toastr.options = {
				'closeButton': true,
				'debug': false,
				'newestOnTop': false,
				'progressBar': true,
				'positionClass': 'toast-top-center',
				'preventDuplicates': false,
				'showDuration': '1000',
				'hideDuration': '1000',
				'timeOut': '5000',
				'extendedTimeOut': '1000',
				'showEasing': 'swing',
				'hideEasing': 'linear',
				'showMethod': 'fadeIn',
				'hideMethod': 'fadeOut',
			}

    
    // Check all 
   $('#checkall').click(function(){
      if($(this).is(':checked')){
         $('.delete_check').prop('checked', true);
      }else{
         $('.delete_check').prop('checked', false);
      }
   });
     // Check all 
   $('#multDel').click(function(){
  if($('#checkall').is(':checked')){
 
       
      $("#deleteMultipleStudentDiv").html("");
      $("#deleteMultipleStudentModal").modal("toggle");
   
          
            let formDetails = ``;
            formDetails += `
                  
                    
                   <div class="col-md-12">
                    Are You Sure. ?
                   </div>

                   <div class="text-center mt-3">
                    <a  class="btn btn-danger waves-effect waves-light" data-bs-dismiss="modal"> No </a>
                     <button
                       type="submit"
                       class="btn btn-primary waves-effect waves-light"
                       id="delete_record"
                    
                     >
                       Yes
                     </button>
                   </div>
                 `;
            $("#deleteMultipleStudentDiv").html(formDetails);
            }else{
   alert("Please Select All")

 }
      
   });

   // Delete record
   $(document).on('click','#delete_record',function(){
      var deleteids_arr = [];
      // Read all checked checkboxes
      $("input:checkbox[class=delete_check]:checked").each(function () {
         deleteids_arr.push($(this).attr('data-id'));
      });
      // Check checkbox checked or not
      if(deleteids_arr.length > 0){
        
      
            $.ajax({
               url: '/admission/delete-multiple',
               type: 'post',
               data: {deleteids_arr: deleteids_arr},
               beforeSend: function() {
                     $('#loader').removeClass('hidden')
                     },
               success: function(response){
                   $("#deleteMultipleStudentModal").modal("hide");
				toastr.error('Record Deleted Successfuly !!')
                  $('#sample_data').DataTable().ajax.reload();
               },
                 complete: function(){
                      $('#loader').addClass('hidden')
                      },
            });
         
      }
   });
	$(document).on("click",".delBtn",function(){
		
 const studentId = $("#studentId").val();
  $.ajax({
        url: '/admission/delete-admission',
        type: "POST",
        data: {
          studentId:studentId,
        
        },
        beforeSend: function() {
                     $('#loader').removeClass('hidden')
                     },
        success: function () {
      $("#deleteStudentModal").modal("hide");
     $('#sample_data').DataTable().ajax.reload();
	toastr.error('Record Deleted Successfuly !!')

        },
          complete: function(){
                      $('#loader').addClass('hidden')
                      },
    });
	
 
});
	
var dataTable = $('#sample_data').DataTable({
		"processing": true,
		"serverSide": true,
		 dom: 'Bfrtip',
   buttons: [
      {
         extend: 'csv',
        
         exportOptions: {
            columns: 'th:not(:last-child)'
         }
      },
       {
         extend: 'pdfHtml5',
        
         exportOptions: {
            columns: 'th:not(:last-child)'
         }
      }
   ],
		"order":[],
		"ajax":{
			url:"/admission/get-admission",
			type:"POST",
		},
         columns: [
        { data: "check" },
        { data: "name" },
        { data: "email" },
        { data: "gender" },
        { data: "action" },
	],
		
	});

	
  
	
});	
setTimeout(function () {
    $("#error").hide();
  }, 3000);
  setTimeout(function () {
    $("#error_msg").hide();
  }, 3000);
  setTimeout(function () {
    $("#success_msg").hide();
  }, 3000);
</script>