<%- include('../../partials/top-bar') %>

      <!-- Site wrapper -->
      <div class="wrapper">
         <%- include('../../partials/header') %>
		  <style>
      .loading-image {
        position: absolute;
		
        top: 48%;
        left: 32%;
        transform: translateY(-50%) translateX(50%);
      }
      .loader {
        display: none;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        position: fixed;
        z-index: 99999;
      }
    </style>
         <!-- =============================================== -->
         <!-- Left side column. contains the sidebar -->
       <%- include('../../partials/sidebar') %>
	
   
         <!-- =============================================== -->
         <!-- Content Wrapper. Contains page content -->
         <div class="content-wrapper">
			 
            <!-- Content Header (Page header) -->
            <section class="content-header">
               <div class="header-icon">
                  <i class="fa fa-dashboard"></i>
               </div>
               <div class="header-title">
                  <h1>SMART SCHOOL Dashboard</h1>
                  <small>Very detailed & featured admin.</small>
               </div>
            </section>
			
            <!-- Main content -->
            <section class="content">
            <%- include('../../partials/loader') %>
			
		<div class="panel panel-bd lobidrag">
                        <div class="panel-heading">
                           <div class="btn-group" id="buttonexport">
                              <a href="#">
                                 <h4>Student Report</h4>
                              </a>
                           </div>
                        </div>
                        <div class="panel-body">
		 <div class="panel-body" >
                      
                      <div class="form-group">
						<div class="row">
							<div class="col-md-6">
                                 <label>Select Class</label>
                                 <select class="form-control" id="classes">
                                    <option value="">Please Select Class</option>
                                    <% if(data.length){ %>
                                       <% for(let i=0; i<data.length; i++){ %>

                                       <option value="<%= data[i].track_id  %>"><%= data[i].class_name  %></option>

                                        <% } %>
                                        <% } %>
                                 </select>
								 </div>
								<div class="col-md-6">
								  <label>Select Student</label>
                                 <select class="form-control" id="studentId">
                                    <option value="">Please Select Student</option>
                                  
                                 </select>
								 </div>
								 </div>
								 <br>
								 <div align="center"><input type="submit" class="btn btn-primary" value="Find" id="find"> </div>
                              </div>
                             
                              </div>
				</div>
			</div>
		<br>

		
		<div class="panel panel-bd lobidrag">
                        <div class="panel-heading">
                           <div class="btn-group" id="buttonexport">
                              <a href="#">
                                 <h4>Filtered Report</h4>
                              </a>
                           </div>
                        </div>
                        <div class="panel-body" id="dataReport">
		
		
                      
                   
                             
                             
				</div>
			</div>
            </section>
		

            <!-- /.content -->
         </div>
         <!-- /.content-wrapper -->
        <%- include('../../partials/footer') %>
      </div>
	  
      <!-- /.wrapper -->
      <!-- Start Core Plugins
         =====================================================================-->
   <%- include('../../partials/footer-script') %>

   <script nonce="<%= nonce %>" type="text/javascript" language="javascript">
$(document).on('change','#classes', function () {
   var id = $(this).val(); 
  $.ajax({
         url: `/report/fetch-student-by-class`,
         type: "post",
         data:{classId:id},
         dataType: "json",
         cache: false,
          beforeSend: function() {
          $('#loader').removeClass('hidden')
             },
         success: function (data) {
            console.log(data);
         let option;
        for(let i=0; i<data.length; i++){
           option += `<option value="${data[i].track_id}">${data[i].name}</option>`
        }
             $("#studentId").html("");
             
             $("#studentId").html(`<option value="">Please Select.</option>`);
            $("#studentId").append(option);
          
          
          
        },
         complete: function(){
                      $('#loader').addClass('hidden')
                      },
      });
})
$(document).on('click','#find', function () {
   $("#dataReport").html("");
   var classId = $('#classes').val(); 
   var studentId = $('#studentId').val(); 
  $.ajax({
         url: `/report/fetch-studentReport-by-class`,
         type: "post",
         data:{classId:classId,studentId:studentId},
         dataType: "json",
         cache: false,
           beforeSend: function() {
          $('#loader').removeClass('hidden')
             },
         success: function (data) {
            console.log(data);
       let formDetails = ``;
       if(data.length>0){
 for(let i=0; i<data.length; i++){

    formDetails += `<table class="table table-bordered table-striped"> 
       <tr><td>Exam Name</td><td>${data[i].exam_name}</td></tr>
       <tr><td>Exam Mode</td><td>${data[i].exam_mode}</td></tr>
       <tr><td>Exam Type</td><td>${data[i].exam_type}</td></tr>
        <tr><td>Exam Lebel</td><td>${data[i].exam_level}</td></tr>
       <tr><td>Total Marks</td><td>${data[i].total_marks}</td></tr>
       <tr><td>Correct Marks</td><td>${data[i].correct_marks}</td></tr>
       <tr><td>incorrect Marks</td><td>${data[i].incorrect_marks}</td></tr>
       <tr><td>Obtained Marks</td><td>${data[i].obtained_marks}</td></tr>
       </table> </br></br></br>`;
 }
             $("#dataReport").html(formDetails);
       }else{
          $("#dataReport").html(`This Candidate has not Appeared in any exam`);
       }
          
        },
         complete: function(){
                      $('#loader').addClass('hidden')
                      },
      });
})
$(document).ready(function(){
	

	toastr.options = {
				'closeButton': true,
				'debug': false,
				'newestOnTop': false,
				'progressBar': true,
				'positionClass': 'toast-top-center',
				'preventDuplicates': false,
				'showDuration': '1000',
				'hideDuration': '1000',
				'timeOut': '5000',
				'extendedTimeOut': '1000',
				'showEasing': 'swing',
				'hideEasing': 'linear',
				'showMethod': 'fadeIn',
				'hideMethod': 'fadeOut',
			}

    
    // Check all 
   $('#checkall').click(function(){
      if($(this).is(':checked')){
         $('.delete_check').prop('checked', true);
      }else{
         $('.delete_check').prop('checked', false);
      }
   });

   // Delete record
   $('#delete_record').click(function(){
      var deleteids_arr = [];
      // Read all checked checkboxes
      $("input:checkbox[class=delete_check]:checked").each(function () {
         deleteids_arr.push($(this).attr('data-id'));
      });

      // Check checkbox checked or not
      if(deleteids_arr.length > 0){

         // Confirm alert
         var confirmdelete = confirm("Do you really want to Delete records?");
         if (confirmdelete == true) {

			
            $.ajax({
               url: '/admission/delete-multiple',
               type: 'post',
               data: {deleteids_arr: deleteids_arr},
               success: function(response){
				toastr.error('Record Deleted Successfuly !!')
                  $('#sample_data').DataTable().ajax.reload();
               }
            });
         } 
      }
   });
	$(document).on("click",".delBtn",function(){
		 if(confirm('Are you sure you want to delete this?')){
 const id = $(this).attr('data-id');
 $('.loader').css('display','block');
  $.ajax({
        url: '/admission/delete-admission',
        type: "POST",
        data: {
          id:id
        },
        success: function () {
        $('.loader').css('display','none');

     $('#sample_data').DataTable().ajax.reload();
	toastr.error('Record Deleted Successfuly !!')

        }
    });
		 }
 
});
	var dataTable = $('#sample_data').DataTable({
		"processing": true,
		"serverSide": true,
		
		"order":[],
		"ajax":{
			url:"/admission/get-admission",
			type:"POST",
		},
         columns: [
        { data: "check" },
        { data: "name" },
        { data: "email" },
        { data: "gender" },
        { data: "action" },
	],
		createdRow:function(row, data, rowIndex)
		{
			$.each($('td', row), function(colIndex){
				if(colIndex == 1)
				{
					$(this).attr('data-name', 'name');
					$(this).attr('class', 'name');
					$(this).attr('data-type', 'text');
					$(this).attr('data-pk', data.id);
				}
				if(colIndex == 2)
				{
					$(this).attr('data-name', 'email');
					$(this).attr('class', 'email');
					$(this).attr('data-type', 'text');
					$(this).attr('data-pk', data.id);
				}
				if(colIndex == 3)
				{
					$(this).attr('data-name', 'gender');
					$(this).attr('class', 'gender');
					$(this).attr('data-type', 'select');
					$(this).attr('data-pk', data.id);
				}
			});
		}
	});

	$('#sample_data').editable({
		container:'body',
		selector:'td.name',
		url:'/admission/update-admission',
		title:'Name',
		type:'POST',
		validate:function(value){
			if($.trim(value) == '')
			{
				return 'This field is required';
			}
				toastr.success('Record Updated Successfuly !!')

		}
		
	});

	$('#sample_data').editable({
		container:'body',
		selector:'td.email',
		url:'/admission/update-admission',
		title:'Email',
		type:'POST',
		validate:function(value){
			
			if($.trim(value) == '')
			{
				return 'This field is required';
			}
			toastr.success('Record Updated Successfuly !!')
		}
	});

	$('#sample_data').editable({
		container:'body',
		selector:'td.gender',
		url:'/admission/update-admission',
		title:'Gender',
		type:'POST',
		datatype:'json',
		source:[{value: "Male", text: "Male"}, {value: "Female", text: "Female"}],
		validate:function(value){
			
			if($.trim(value) == '')
			{
				return 'This field is required';
			}
			toastr.success('Record Updated Successfuly !!')
		}
	});
	
});	
</script>