<%- include('../../partials/top-bar') %>

      <!-- Site wrapper -->
      <div class="wrapper">
         <%- include('../../partials/header') %>
		 
         <!-- =============================================== -->
         <!-- Left side column. contains the sidebar -->
       <%- include('../../partials/sidebar') %>
	
   
         <!-- =============================================== -->
         <!-- Content Wrapper. Contains page content -->
         <div class="content-wrapper">
			   <div class="loader" id="loader">
     
	   </div>
            <!-- Content Header (Page header) -->
            <section class="content-header">
               <div class="header-icon">
                  <i class="fa fa-dashboard"></i>
               </div>
               <div class="header-title">
                  <h1>SMART SCHOOL Dashboard</h1>
                  <small>Very detailed & featured admin.</small>
               </div>
            </section>
			
            <!-- Main content -->
            <section class="content">
          
			<div class="panel panel-bd lobidrag">
                        <div class="panel-heading">
                           <div class="btn-group" id="buttonexport">
                              <a href="#">
                                 <h4>All Exam</h4>
                              </a>
                           </div>
                        </div>
                        <div class="panel-body">
                             <%- include('../../partials/message') %>
					 <div class="row"> 
 <div class="col-md-6 text-left">
								 <input type="checkbox" class='checkall' id='checkall'> &nbsp;&nbsp; <input type="button" class="btn-sm btn-danger para" id="multDel" value='Check All & Delete' >

                
				
            </div>
            <div class="col-md-6 text-right">
                <a href="#" class="btn btn-add" data-toggle="modal" data-target="#addExam-lg"><i class="fa fa-plus"></i> Add New</a>
               
				
            </div>
			<br>
        </div>
		<br>

					<div class="table-responsive">
						
						<table id="sample_data" class="table table-bordered table-striped">
						
							<thead>
								<tr>
									<th></th>
									<th> Exam Name</th>
									<th> Class Name</th>
								
									<th>Action</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
		
            </section>
		

            <!-- /.content -->
         </div>
         <!-- /.content-wrapper -->
        <%- include('../../partials/footer') %>
      </div>
	 <div class="modal fade" id="addExam-lg" tabindex="-1" role="dialog">
      <%- include('../../partials/loader') %>
                  <div class="modal-dialog modal-lg"  role="document">
                     <div class="modal-content">
                        <div class="modal-header modal-header-primary">
                           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                           <h3><i class="fa fa-plus m-r-5"></i> Add New Exam</h3>
                        </div>
                        <div class="modal-body">
                           <div class="row">
                              <div class="col-md-12">
                               <form action="http://thememinister.com/crm/index.html" id="examForm">
                                  <input type="hidden" id="school_id" value="<%= user[0].id %>" class="form-control" name="school_id">
                            <div class="row">
                                <div class="form-group col-lg-6">
                                    <label>Exam</label>
                                    <input type="text" id="exam_name" placeholder="Enter Exam Name" class="form-control" name="exam_name">
                                </div>
                                 <div class="form-group col-lg-6">
                                    <label>Class</label>
                                   <select name="class_id" id="class_id" class="form-control">
                                    <option value="">Please Select</option>
                                    <% for(let i = 0; i < data.length; i++){%> 
                                    <option value="<%= data[i].id %>"><%= data[i].class_name %></option>
                                       <% } %>
                                   </select>
                                </div>
                                 <div class="form-group col-lg-6">
                                    <label>Subject</label>
                                   <select name="subject_id" id="subject_id" class="form-control">
                                    <option value="">Please Select</option>
                                    <% for(let i = 0; i < subject.length; i++){%> 
                                    <option value="<%= subject[i].id %>"><%= subject[i].subject_name %></option>
                                       <% } %>
                                   </select>
                                </div>
                                  <div class="form-group col-lg-6">
                                    <label>Mode of Exam</label>
                                   <select name="exam_mode" id="exam_mode" class="form-control">
                                    <option value="">Please Select</option>
                                    <option value="practice">Practice</option>
                                    <option value="online">Online</option>
                                    <option value="quiz">Quiz</option>
                                   </select>
                                </div>
                                 <div class="form-group col-lg-6">
                                    <label>Type of Exam</label>
                                   <select name="exam_type" id="exam_type" class="form-control">
                                    <option value="">Please Select</option>
                                    <option value="subjective">Subjective</option>
                                    <option value="objective">Objective</option>
                                   </select>
                                </div>

                              
                                    
                                  <div class="form-group col-lg-6">
                                    <label>Start Date</label>
                                    <input type="date" id="start_date" class="form-control" name="start_date">
                                </div>
                                 <div class="form-group col-lg-6">
                                    <label>End Date</label>
                                    <input type="date" id="end_date" class="form-control" name="end_date">
                                </div>
                                 <div class="form-group col-lg-6">
                                    <label>Total Marks</label>
                                    <input type="text" id="total_marks" class="form-control" name="total_marks">
                                </div>
                                
                            </div>
                            <div align="center">
                               <button class="	btn btn-success waves-effect waves-light "
															data-callback="onSubmit" id="saveExam" data-action="submit">
															Create
														</button>
                            </div>
                        </form>
                              </div>
                           </div>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                        </div>
                     </div>
                     <!-- /.modal-content -->
                  </div>
                  <!-- /.modal-dialog -->
               </div>
               
                 <div class="modal fade" id="editExamModal" tabindex="-1" role="dialog">
                  <div class="modal-dialog modal-lg"  role="document">
                     <div class="modal-content">
                        <div class="modal-header modal-header-primary">
                           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                           <h3><i class="fa fa-plus m-r-5"></i> Edit Exam</h3>
                        </div>
                        <div class="modal-body">
                         
                              <div id="editExamDiv">
                               
                             
                           </div>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                        </div>
                     </div>
                     <!-- /.modal-content -->
                  </div>
                  <!-- /.modal-dialog -->
               </div>
                <div class="modal fade" id="deleteExamModal" tabindex="-1" role="dialog">
                  <div class="modal-dialog">
                     <div class="modal-content">
                        <div class="modal-header modal-header-primary">
                           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                           <h3><i class="fa fa-minus m-r-5"></i> Remove Exam</h3>
                        </div>
                        <div class="modal-body">
                         
                              <div id="deleteExamDiv">
                               
                             
                           </div>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                        </div>
                     </div>
                     <!-- /.modal-content -->
                  </div>
                  <!-- /.modal-dialog -->
               </div>
                  <div class="modal fade" id="viewExamModal" tabindex="-1" role="dialog">
                  <div class="modal-dialog modal-lg"  role="document">
                     <div class="modal-content">
                        <div class="modal-header modal-header-primary">
                           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                           <h3><i class="fa fa-plus m-r-5"></i> View Exam Details</h3>
                        </div>
                        <div class="modal-body">
                         
                              <div id="viewExamDiv">
                               
                             
                           </div>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                        </div>
                     </div>
                     <!-- /.modal-content -->
                  </div>
                  <!-- /.modal-dialog -->
               </div>
                
                 <div class="modal fade" id="deleteMultipleExamModal" tabindex="-1" role="dialog">
                  <div class="modal-dialog">
                     <div class="modal-content">
                        <div class="modal-header modal-header-primary">
                           <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                           <h3><i class="fa fa-minus m-r-5"></i> Remove Exam</h3>
                        </div>
                        <div class="modal-body">
                         
                              <div id="deleteMultipleExamDiv">
                               
                             
                           </div>
                        </div>
                        <div class="modal-footer">
                           <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                        </div>
                     </div>
                     <!-- /.modal-content -->
                  </div>
                  <!-- /.modal-dialog -->
               </div>
      <!-- /.wrapper -->
      <!-- Start Core Plugins
         =====================================================================-->
   <%- include('../../partials/footer-script') %>

   <script nonce="<%= nonce %>" type="text/javascript" language="javascript">
 $("#examForm").on("submit", async e => {
							e.preventDefault();
							try {
								
									const formData = new FormData($(`#${e.target.id}`)[0]);
									e.preventDefault();
									$.ajax({
										url: `/exam/create-exam`,
										type: "post",
										processData: false,
										contentType: false,
										
										data: formData,
										dataType: "json",
                     beforeSend: function() {
                     $('#loader').removeClass('hidden')
                     },
										success: function (data) {
                     
                  if (data) {
                  //      const url = '/success.mp3'
                  //   const audio = new Audio(url);
                  //   audio.play();
                     Swal.fire({
                    position: "top-center",
                    icon: "success",
                    title: "Application Saved Successfully !!",
                    showConfirmButton: false,
                    timer: 2000,
                  });
                  $("#examForm")[0].reset();
                  $("#addExam-lg").modal("hide");
                   $('#sample_data').DataTable().ajax.reload();

                
                } else {
                    Swal.fire({
                    icon: "error",
                    title: "Oops...",
                    text: "Data Allready Exist !",
                  });
                
                }
										
										},
                      complete: function(){
                      $('#loader').addClass('hidden')
                      },
									});

								

							} catch (e) {
								console.error(e)
							}
						});
    function editExam(examId,schoolId,classId) {
    try {
      $("#editExamDiv").html("");
      $("#editExamModal").modal("toggle");
      $.ajax({
         url: `/exam/fetch-exam-byid`,
         type: "post",
         data:{examId:examId,schoolId:schoolId,classId:classId},
         dataType: "json",
         cache: false,
         success: function (data) {
              let option;
        for(let i=0; i<data.classes.length; i++){
           option += `<option value="${data.classes[i].id}"${data.data[0].class_id==data.classes[i].id?'selected':""}>${data.classes[i].class_name}</option>`
        }
            let formDetails = ``;
            formDetails += `  <form action="/exam/update-exam-by-id" method="POST" >
                                   <input type="hidden"  value="${examId}" class="form-control" name="exam_id">
                                  <input type="hidden"  value="${schoolId}" class="form-control" name="school_id">
                            <div class="row">
                                 <div class="form-group col-lg-6">
                                    <label>Exam</label>
                                    <input type="text" id="exam_name" value="${data.data[0].exam_name}" class="form-control" name="exam_name">
                                </div>
                                 <div class="form-group col-lg-6">
                                    <label>Class</label>
                                   <select name="class_id" id="class_id" class="form-control">
                                    ${option}
                                   </select>
                                </div>
                                  <div class="form-group col-lg-6">
                                    <label>Type of Exam</label>
                                   <select name="type_exam" id="type_exam" class="form-control">
                                    <option value="">Please Select</option>
                                    <option value="practice"${data.data[0].exam_type=="practice"?'selected':""}>Practice</option>
                                    <option value="online"${data.data[0].exam_type=="online"?'selected':""}>Online</option>
                                    <option value="quiz"${data.data[0].exam_type=="quiz"?'selected':""}>Quiz</option>
                                   </select>
                                </div>
                                    
                                  <div class="form-group col-lg-6">
                                    <label>Start Date</label>
                                    <input type="date" id="start_date" value="${data.data[0].start_date}" class="form-control" name="start_date">
                                </div>
                                 <div class="form-group col-lg-6">
                                    <label> End Date</label>
                                    <input type="date" id="end_date" value="${data.data[0].end_date}" class="form-control" name="end_date">
                                </div>
                                
                            </div>
                            <div align="center">
                               <button class="	btn btn-success waves-effect waves-light "
															data-callback="onSubmit" id="saveExam" data-action="submit">
															Update
														</button>
                            </div>
                        </form>`;
            $("#editExamDiv").html(formDetails);
          
        },
      });
    } catch (err) {
      console.error(err);
    }
  }
   function deleteExam(examId,schoolId,classId) {
    try {
      $("#deleteExamDiv").html("");
      $("#deleteExamModal").modal("toggle");
   
          
            let formDetails = ``;
            formDetails += `
                    <input type="hidden" class="form-control" name="examId" id="examId" value="${examId}">
                    <input type="hidden" class="form-control" name="schoolId" id="schoolId" value="${schoolId}">
                    <input type="hidden" class="form-control" name="classId" id="classId" value="${classId}">
                    
                   <div class="col-md-12">
                    Are You Sure. ?
                   </div>

                   <div class="text-center mt-3">
                    <a  class="btn btn-danger waves-effect waves-light" data-bs-dismiss="modal"> No </a>
                     <button
                       type="submit"
                       class="btn btn-primary delBtn waves-effect waves-light"
                       id="register"
                     >
                       Yes
                     </button>
                   </div>
                  `;
            $("#deleteExamDiv").html(formDetails);
          
       
    } catch (err) {
      console.error(err);
    }
  }
  
                  

       
function viewExam(examId,schoolId,classId) {
    try {
     
      $("#viewExamDiv").html("");
      $("#viewExamModal").modal("toggle");
      $.ajax({
         url: `/exam/view-exam-byid`,
         type: "post",
         data:{examId:examId,schoolId:schoolId,classId:classId},
         dataType: "json",
         cache: false,
         success: function (data) {
    console.log(data);
            let formDetails = ``;
            formDetails += `<table class="table table-bordered table-striped"> 
               
               <tr><td>  Exam Name</td><td>${data[0].exam_name}</td></tr>
               <tr><td>Class</td><td>${data[0].class_name}</td></tr>
                <tr><td>Start Date</td><td>${data[0].start_date}</td></tr>
               <tr><td>End Date</td><td>${data[0].end_date}</td></tr>
               <tr><td>Type of Exam</td><td>${data[0].exam_type}</td></tr>
               <tr><td>Mode of Exam</td><td>${data[0].exam_mode}</td></tr>
               <tr><td>Total Marks</td><td>${data[0].total_marks}</td></tr>
              
              
               </table>`;
            $("#viewExamDiv").html(formDetails);
          
        },
      });
    } catch (err) {
      console.error(err);
    }
  }


$(document).ready(function(){
	

	toastr.options = {
				'closeButton': true,
				'debug': false,
				'newestOnTop': false,
				'progressBar': true,
				'positionClass': 'toast-top-center',
				'preventDuplicates': false,
				'showDuration': '1000',
				'hideDuration': '1000',
				'timeOut': '5000',
				'extendedTimeOut': '1000',
				'showEasing': 'swing',
				'hideEasing': 'linear',
				'showMethod': 'fadeIn',
				'hideMethod': 'fadeOut',
			}

    
    // Check all 
   $('#checkall').click(function(){
      if($(this).is(':checked')){
         $('.delete_check').prop('checked', true);
      }else{
         $('.delete_check').prop('checked', false);
      }
   });

    // Check all 
   $('#multDel').click(function(){
  if($('#checkall').is(':checked')){
 
       
      $("#deleteMultipleExamDiv").html("");
      $("#deleteMultipleExamModal").modal("toggle");
   
          
            let formDetails = ``;
            formDetails += `
                  
                    
                   <div class="col-md-12">
                    Are You Sure. ?
                   </div>

                   <div class="text-center mt-3">
                    <a  class="btn btn-danger waves-effect waves-light" data-bs-dismiss="modal"> No </a>
                     <button
                       type="submit"
                       class="btn btn-primary waves-effect waves-light"
                       id="delete_record"
                    
                     >
                       Yes
                     </button>
                   </div>
                 `;
            $("#deleteMultipleExamDiv").html(formDetails);
            }else{
   alert("Please Select All")

 }
      
   });
   $(document).on('click','#delete_record',function(){
      var deleteids_arr = [];
      // Read all checked checkboxes
      $("input:checkbox[class=delete_check]:checked").each(function () {
         deleteids_arr.push($(this).attr('data-id'));
      });
      // Check checkbox checked or not
      if(deleteids_arr.length > 0){
        
      
            $.ajax({
               url: '/exam/delete-multiple-exam',
               type: 'post',
               data: {deleteids_arr: deleteids_arr},
               success: function(response){
                   $("#deleteMultipleExamModal").modal("hide");
				toastr.error('Record Deleted Successfuly !!')
                  $('#sample_data').DataTable().ajax.reload();
               }
            });
         
      }
   });
	$(document).on("click",".delBtn",function(){
		
 const examId = $("#examId").val();
 const schoolId = $("#schoolId").val();
  $.ajax({
        url: '/exam/delete-exam',
        type: "POST",
        data: {
          examId:examId,
          schoolId:schoolId
        },
        success: function () {
      $("#deleteExamModal").modal("hide");
     $('#sample_data').DataTable().ajax.reload();
	toastr.error('Record Deleted Successfuly !!')

        }
    });
	
 
});
	
var dataTable = $('#sample_data').DataTable({
		"processing": true,
		"serverSide": true,
		 dom: 'Bfrtip',
   buttons: [
      {
         extend: 'csv',
        
         exportOptions: {
            columns: 'th:not(:last-child)'
         }
      },
       {
         extend: 'pdf',
        
         exportOptions: {
            columns: 'th:not(:last-child)'
         }
      }
   ],
		"order":[],
		"ajax":{
			url:"/exam/get-exam",
			type:"POST",
		},
         columns: [
        { data: "check" },
        { data: "exam_name" },
        { data: "class_name" },
      
        { data: "action" },
	],
		createdRow:function(row, data, rowIndex)
		{
			$.each($('td', row), function(colIndex){
				if(colIndex == 1)
				{
					$(this).attr('data-name', 'exam_name');
					$(this).attr('class', 'exam_name');
					$(this).attr('data-type', 'text');
					$(this).attr('data-pk', data.id);
				}
				if(colIndex == 2)
				{
					$(this).attr('data-name', 'class_name');
					$(this).attr('class', 'class_name');
					$(this).attr('data-type', 'select');
					$(this).attr('data-pk', data.id);
				}
				
			});
		}
	});

	$('#sample_data').editable({
		container:'body',
		selector:'td.exam_name',
		url:'/exam/update-exam',
		title:'Exam Exam Name',
		type:'POST',
		validate:function(value){
			if($.trim(value) == '')
			{
				return 'This field is required';
			}
				toastr.success('Record Updated Successfuly !!')

		}
		
	});

	$('#sample_data').editable({
		container:'body',
		selector:'td.class_name',
		url:'/exam/update-exam',
		title:'Class Name',
		type:'POST',
		validate:function(value){
			
			if($.trim(value) == '')
			{
				return 'This field is required';
			}
			toastr.success('Record Updated Successfuly !!')
		}
	});


	
});	
setTimeout(function () {
    $("#error").hide();
  }, 3000);
  setTimeout(function () {
    $("#error_msg").hide();
  }, 3000);
  setTimeout(function () {
    $("#success_msg").hide();
  }, 3000);
</script>